.about-left-item-style-1 {

    .about-image {
        max-width: 702px;
        position: relative;
        z-index: 999;

        @include breakpoint (max-xxl) {
            max-width: initial;
        }

        img {
            @include imgw;
        }
    }

    .client-item {
        @include flex;
        gap: 16px;
        margin-top: 40px;
        margin-left: 60px;

        @include breakpoint (max-xxl) {
           margin-left: 0;
           margin-top: 30px;
        }
    }
}

.about-content-style-1 {

    .text {
        max-width: 621px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .about-box-item {
        background-color: $header-color;
        padding: 40px 100px 40px 240px;
        margin-left: -240px;
        position: relative;
        z-index: -1;
        margin-top: 60px;

        @include breakpoint (max-xxxl) {
           margin-left: 0;
           padding: 30px;
           margin-top: 30px;
           padding: 40px 100px 40px 120px;
           margin-left: -115px;
        }

        @include breakpoint (max-xxl) {
           margin-left: 0;
           padding: 30px;
           margin-top: 30px;
        }

        .nav {
            display: flex;
            gap: 20px;
            margin-bottom: 30px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.22);
            padding-bottom: 20px;

            @include breakpoint (max-xxl) {
                flex-wrap: wrap;
                gap: 20px;
                margin-bottom: 20px;
            }
    
        li {
            font-size: 16px;
            font-weight: 500;
           
            @include breakpoint (max-xl) {
              font-size: 16px;
            }
           
           .nav-link {
				color: rgba(255, 255, 255, 0.46);
				@include transition;
				line-height: 1;
                padding: 0;

				&.active {
				    position: relative;
					color: $theme-color;
                    padding: 0;
				  }
			  }
		   }
       }

       .content {
          p {
            color: $white;
            max-width: 704px;
            margin-bottom: 70px;
            font-size: 20px;
            font-weight: 600;

            @include breakpoint (max-xxl) {
               margin-bottom: 30px;
               font-size: 16px;
            }
          }

          h6 {
             color: rgba(255, 255, 255, 0.57);
             text-transform: uppercase;
             font-family: $body-font;
          }

          .icon-item {
              @include flex;
              gap: 30px;
              margin-top: 20px;

              h2 {
                color: $white;
              }
          }
       }
    }
}

.about-section {

    .container-fluid {
        padding: 0 120px;

         @include breakpoint (max-xl4) {
           padding: 0 70px;
        }

         @include breakpoint (max-xxxl) {
           padding: 0 50px;
        }

        @include breakpoint (max-xxl) {
           padding: 0 30px;
        }

        @include breakpoint (max-sm) {
           padding: 0 15px;
        }
    }
}