.video-wrapper {
	padding: 250px 0;
	text-align: center;

	@include breakpoint(max-xl) {
		padding: 150px 0;
	}

	@include breakpoint(max-lg) {
		padding: 120px 0;
	}

	.video-btn {
		width: 150px;
		height: 150px;
		line-height: 150px;
		display: inline-block;
		background: $white;
		color: $theme-color;
		text-align: center;
		border-radius: 100%;
		font-size: 25px;
		position: relative;

		@include breakpoint(max-xxl) {
			width: 90px;
			height: 90px;
			line-height: 90px;
		}

		&::before {
			@include before;
			width: 200px;
			height: 200px;
			background-color: rgba(255, 255, 255, 0.24);
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 100px;

			@include breakpoint(max-xxl) {
				width: 150px;
				height: 150px;
			}
		}

		&::after {
			position: absolute;
			content: "";
			width: 174px;
			height: 174px;
			background-color: rgba(255, 255, 255, 0.24);
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 100px;

			@include breakpoint(max-xxl) {
				width: 120px;
				height: 120px;
			}
		}
	}
}

.counter-wrapper {
	@include flex;
	justify-content: space-between;

	@include breakpoint(max-xxl) {
		flex-wrap: wrap;
		gap: 25px;
	}

	.counter-item {
		.icon {
			margin-bottom: 20px;
		}

		.content {
			h2 {
				font-size: 46px;
				font-weight: 700;

				@include breakpoint(max-xxl) {
					font-size: 30px;
				}
			}

			p {
				color: #687799;
				font-size: 20px;
				font-weight: 500;

				@include breakpoint(max-xxl) {
					font-size: 16px;
				}
			}
		}

		&:hover {
			.icon {
				img {
					animation: jello 1s;
				}
			}
		}
	}
}

//Brand new section
.brandnew-section {
	background-color: #bfeb17;
	padding: 140px 0 110px;
	.circle-image {
		background-color: $black;
		width: 203px;
		height: 203px;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		.mimg-text {
			animation: spin 15s linear infinite;
		}
		.arrow {
			color: $white;
			transform: rotate(-120deg);
		}
	}
	.thumb {
		margin-left: 30px;
	}
	.brand-content-left {
		h2 {
			font-weight: 700;
			font-size: 180px;
			line-height: 170px;
			letter-spacing: -0.01em;
			color: #171717;
		}
		p {
			max-width: 470px;
			font-size: 18px;
			line-height: 28px;
			color: $black;
		}
	}
	@include breakpoint(max-xxl) {
		padding: 130px 0 90px;
		.circle-image {
			width: 160px;
			height: 160px;
			top: 50%;
			transform: translateY(-50%);
			.mimg-text {
				width: 120px;
			}
			.arrow {
				color: $white;
				transform: rotate(-120deg);
			}
		}
		.thumb {
			margin-left: 30px;
		}
		.brand-content-left {
			h2 {
				font-weight: 700;
				font-size: 120px;
				line-height: 120px;
				letter-spacing: -0.01em;
				color: #171717;
			}
			p {
				max-width: 470px;
				font-size: 18px;
				line-height: 28px;
				color: $black;
			}
		}
	}
	@include breakpoint(max-xl) {
		padding: 100px 0 80px;
		.circle-image {
			width: 100px;
			height: 100px;
			top: 50%;
			transform: translateY(-50%);
			.mimg-text {
				width: 80px;
			}
			.arrow {
				color: $white;
				transform: rotate(-120deg);
			}
		}
		.thumb {
			margin-left: 20px;
		}
		.brand-content-left {
			h2 {
				font-weight: 700;
				font-size: 90px;
				line-height: 90px;
				letter-spacing: -0.01em;
				color: #171717;
				span {
					font-weight: 700;
					font-size: 90px;
					line-height: 90px;
				}
				.line-a {
					width: 120px;
				}
			}
			p {
				max-width: 470px;
				font-size: 16px;
				line-height: 24px;
				color: $black;
			}
		}
	}
	@include breakpoint(max-md) {
		padding: 80px 0 80px;
		.circle-image {
			width: 100px;
			height: 100px;
			top: 50%;
			transform: translateY(-50%);
			.mimg-text {
				width: 80px;
			}
			.arrow {
				color: $white;
				transform: rotate(-120deg);
			}
		}
		.thumb {
			margin-left: 20px;
		}
		.brand-content-left {
			h2 {
				font-weight: 700;
				font-size: 55px;
				line-height: 55px;
				letter-spacing: -0.01em;
				color: #171717;
				span {
					font-weight: 700;
					font-size: 55px;
					line-height: 55px;
				}
				.line-a {
					width: 80px;
				}
			}
			p {
				max-width: 470px;
				font-size: 16px;
				line-height: 24px;
				color: $black;
			}
		}
	}
}
//Brand new section

//process Section
.process-head {
	max-width: 700px;
	margin: 0 auto 25px;
	h2 {
		font-size: 180px;
		line-height: 180px;
		color: $white;
	}
	.process-text {
		gap: 28px;
		display: flex;
		align-items: center;
	}
	@include breakpoint(max-xxl) {
		h2 {
			font-size: 110px;
			line-height: 110px;
			color: $white;
		}
		.process-text {
			gap: 16px;
		}
	}
	@include breakpoint(max-lg) {
		margin: 0 0 25px;
		h2 {
			font-size: 70px;
			line-height: 70px;
			color: $white;
		}
		.process-text {
			gap: 16px;
		}
		.line-a {
			width: 100px;
		}
	}
	@include breakpoint(max-md) {
		margin: 0 0 25px;
		h2 {
			font-size: 60px;
			line-height: 60px;
			color: $white;
		}
		.process-text {
			gap: 16px;
		}
		.line-a {
			width: 100px;
		}
	}
	@include breakpoint(max-sm) {
		margin: 0 0 25px;
		h2 {
			font-size: 50px;
			line-height: 50px;
			color: $white;
		}
		.process-text {
			gap: 16px;
		}
		.line-a {
			width: 70px;
		}
	}
}
.working-process__item02 {
	padding: 70px 35px;
	background-color: #252525;
	border-radius: 12px;
	transition: all 0.4s;
	.serial {
		font-size: 36px;
		line-height: 36px;
		margin-bottom: 32px;
		color: #bde917;
	}
	.title {
		font-size: 36px;
		line-height: 41px;
		margin-bottom: 32px;
		font-weight: 600;
		color: $white;
	}
	p {
		font-size: 16px;
		line-height: 26px;
		color: $white;
		opacity: 80%;
	}
	&:hover {
		transform: scale(1.05);
		.title {
			color: $theme-color;
		}
	}
	&.process-space {
		margin-top: 40px;
	}
	@include breakpoint(max-xxl) {
		padding: 50px 28px;
		.serial {
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 28px;
		}
		.title {
			font-size: 30px;
			line-height: 38px;
			margin-bottom: 19px;
		}
		p {
			font-size: 16px;
			line-height: 26px;
		}
	}
	@include breakpoint(max-lg) {
		&.process-space {
			margin-top: 0;
		}
	}
}
//process Section

//counter-section03
.counter-section03 {
	padding: 220px 5px 220px;
	.counter-top-wrap3 {
		max-width: 1240px;
		margin: 0 auto 155px;
		p {
			max-width: 705px;
			font-weight: 500;
			font-size: 22px;
			line-height: 34px;
			color: $white;
		}
		.circle-image {
			background: rgba(255, 255, 255, 0.09);
			backdrop-filter: blur(11.15px);
			width: 186px;
			height: 186px;
			border-radius: 50%;
			margin-left: auto;
			position: relative;
			img {
				width: 145px;
				animation: spin 15s linear infinite;
			}
			.arrow {
				transform: rotate(-140deg);
				color: $white;
			}
		}
	}
	.counter-main-inner3 {
		max-width: 1520px;
		display: flex;
		justify-content: space-between;
		gap: 24px;
		.counter__items03 {
			position: relative;
			z-index: 1;
			padding-bottom: 0;
			border: unset;
			.bore-dot {
				display: flex;
				align-items: center;
				gap: 1;
				position: relative;
				padding-left: 10px;
				font-size: 20px;
				line-height: 28px;
				&::before {
					position: absolute;
					left: 0;
					content: "";
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: $white;
				}
			}
			h2 {
				font-weight: 400;
				font-size: 144px;
				line-height: 95px;
				letter-spacing: -0.03em;
				border-bottom: 1px solid #747474;
				color: $white;
				margin-bottom: 38px;
				span {
					font-weight: 400;
					font-size: 144px;
					line-height: 95px;
					letter-spacing: -0.03em;
				}
			}
		}
	}
	@include breakpoint(max-xxl) {
		padding: 160px 5px 160px;
		.counter-main-inner3 {
			gap: 24px;
			.counter__items03 {
				.bore-dot {
					font-size: 20px;
					line-height: 28px;
				}
				h2 {
					font-weight: 400;
					font-size: 104px;
					line-height: 85px;
					letter-spacing: -0.03em;
					margin-bottom: 28px;
					span {
						font-weight: 400;
						font-size: 104px;
						line-height: 85px;
						letter-spacing: -0.03em;
					}
				}
			}
		}
		.counter-top-wrap3 {
			margin: 0 auto 110px;
		}
	}
	@include breakpoint(max-xl) {
		padding: 120px 5px 120px;
		.counter-top-wrap3 {
			margin: 0 auto 90px;
		}
	}
	@include breakpoint(max-lg) {
		padding: 100px 5px 100px;
		.counter-top-wrap3 {
			margin: 0 auto 60px;
			flex-wrap: wrap;
			justify-content: center;
			p {
				max-width: 705px;
				font-weight: 500;
				font-size: 22px;
				line-height: 34px;
				text-align: center;
				margin-bottom: 10px;
			}
			.circle-image {
				width: 186px;
				height: 186px;
				border-radius: 50%;
				margin: 0 auto;
				img {
					width: 145px;
				}
			}
		}
		.counter-main-inner3 {
			gap: 24px;
			.counter__items03 {
				.bore-dot {
					font-size: 20px;
					line-height: 28px;
				}
				h2 {
					font-weight: 400;
					font-size: 80px;
					line-height: 65px;
					letter-spacing: -0.03em;
					margin-bottom: 28px;
					span {
						font-weight: 400;
						font-size: 80px;
						line-height: 65px;
						letter-spacing: -0.03em;
					}
				}
			}
		}
	}
	@include breakpoint(max-md) {
		padding: 80px 5px 80px;
		.counter-top-wrap3 {
			margin: 0 auto 60px;
			flex-wrap: wrap;
			justify-content: center;
			p {
				max-width: 705px;
				font-weight: 500;
				font-size: 18px;
				line-height: 26px;
				text-align: center;
				margin-bottom: 10px;
			}
			.circle-image {
				width: 126px;
				height: 126px;
				border-radius: 50%;
				margin: 0 auto;
				img {
					width: 105px;
				}
			}
		}
		.counter-main-inner3 {
			gap: 24px;
			flex-wrap: wrap;
			justify-content: center;
			.counter__items03 {
				.bore-dot {
					font-size: 18px;
					line-height: 26px;
				}
				h2 {
					font-weight: 400;
					font-size: 60px;
					line-height: 45px;
					letter-spacing: -0.03em;
					margin-bottom: 18px;
					span {
						font-weight: 400;
						font-size: 60px;
						line-height: 45px;
						letter-spacing: -0.03em;
					}
				}
			}
		}
	}
	@include breakpoint(max-sm) {
		padding: 80px 5px 80px;
		.counter-main-inner3 {
			gap: 24px;
			flex-wrap: wrap;
			justify-content: center;
			.counter__items03 {
				.bore-dot {
					font-size: 18px;
					line-height: 26px;
				}
				h2 {
					font-weight: 400;
					font-size: 47px;
					line-height: 45px;
					letter-spacing: -0.03em;
					margin-bottom: 18px;
					span {
						font-weight: 400;
						font-size: 47px;
						line-height: 45px;
						letter-spacing: -0.03em;
					}
				}
			}
		}
	}
}
//counter-section03

//award-list-section
.award-list-section {
	padding: 220px 5px 220px;
	.award-top-wrap {
		display: flex;
		justify-content: space-between;
		gap: 24px;
		.award-thumb-area {
			max-width: 430px;
			height: 445px;
			width: 100%;
			.thumb {
				max-width: 358px;
			}
			.circle-image {
				background-color: $white;
				width: 173px;
				height: 173px;
				border-radius: 50%;
				bottom: -0px;
				right: 0;
				position: absolute;
				.mimg-text {
					animation: spin 15s linear infinite;
				}
			}
		}
		ul {
			gap: 15px;
			li {
				background-color: $white;
				padding: 18px 30px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				span {
					color: #606060;
					font-size: 14px;
					font-weight: 500;
					&:nth-child(2) {
						width: 120px;
						text-align: center;
						display: block;
					}
				}
			}
		}
	}
	.digital-business-title {
		font-family: $heading-font;
		max-width: 1070px;
		margin: 0 auto 87px;
		span {
			font-size: 66px;
			line-height: 84px;
			font-weight: 700;
			display: block;
			text-transform: uppercase;
			&:nth-child(3) {
				margin-left: 80px;
			}
			&:nth-child(4) {
				color: #9f9f9f;
			}
			&:nth-child(5) {
				color: #9f9f9f;
			}
		}
	}
	@include breakpoint(max-xxl) {
		padding: 140px 5px 140px;
		.digital-business-title {
			max-width: 750px;
			margin: 0 auto 60px;
			span {
				font-size: 44px;
				line-height: 54px;
				display: block;
				&:nth-child(3) {
					margin-left: 80px;
				}
				&:nth-child(5) {
					margin-left: 220px;
				}
			}
		}
	}
	@include breakpoint(max-xl) {
		padding: 100px 5px 100px;
		.digital-business-title {
			max-width: 650px;
			margin: 0 auto 50px;
			span {
				font-size: 34px;
				line-height: 48px;
				display: block;
				&:nth-child(3) {
					margin-left: 80px;
				}
				&:nth-child(5) {
					margin-left: 180px;
				}
			}
		}
	}
	@include breakpoint(max-lg) {
		.award-top-wrap {
			flex-wrap: wrap;
			.award-thumb-area {
				margin: 0 auto 20px;
				width: 100%;
			}
		}
		.content-area{
			width: 100%;
		}
		.digital-business-title {
			max-width: 100%;
			margin: 0 auto 30px;
			text-align: center !important;
			span {
				font-size: 29px;
				line-height: 38px;
				display: block;
				&:nth-child(3) {
					margin-left: 0px;
				}
				&:nth-child(5) {
					margin-left: 0px;
				}
			}
		}
	}
	@include breakpoint(max-sm) {
		.award-top-wrap {
			gap: 24px;
			.award-thumb-area {
				margin: 0 auto 2px;
				width: 100%;
				height: 350px;
				.circle-image {
					background-color: $white;
					width: 100px;
					height: 100px;
					border-radius: 50%;
					bottom: -0px;
					right: 0;
					position: absolute;
					.mimg-text {
						width: 80px;
						object-fit: contain;
					}
					.trophy{
						width: 30px;
					}
				}
			}
			ul {
				gap: 15px;
				li {
					background-color: $white;
					padding: 12px 16px;
					span {
						font-size: 13px;
						font-weight: 500;
						line-height: 16px;
						&:nth-child(2) {
							width: auto;
						}
					}
				}
			}
		}
		.digital-business-title {
			max-width: 550px;
			margin: 0 auto 20px;
			text-align: center !important;
			span {
				font-size: 22px;
				line-height: 30px;
				display: block;
				&:nth-child(3) {
					margin-left: 0px;
				}
				&:nth-child(5) {
					margin-left: 0px;
				}
			}
		}
	}
}
//award-list-section
