//Footer Section 01
.footer-section {
	background-color: $bg-dark2;
	z-index: 1;
	.footer-globe {
		position: absolute;
		top: 55px;
		right: 316px;
		z-index: -1;
	}
	&.footer-style-cmn {
		background-color: $black3;
		.container {
			max-width: 1551px;
			margin-right: auto;
		}
		.footer-left-cmn {
			max-width: 1095px;
			.footer-cmn-inner {
				display: flex;
				justify-content: space-between;
				gap: 30px 120px;
				border-top: 1px solid $white;
				padding-top: 65px;
			}
		}
		.footer-top {
			display: flex;
			align-items: center;
			.footer-cmn-title {
				font-size: 110px;
				line-height: 120px;
				display: inline-flex;
				padding-bottom: 45px;
				gap: 78px;
				font-weight: 600;
				color: $white;
				text-transform: uppercase;
			}
			.footer-widget-head {
				margin-bottom: 0;
				.h-pra {
					margin-bottom: 22px;
				}
				a {
					&:hover {
						color: $theme-color !important;
					}
				}
			}
		}
		.footer-bottom {
			background-color: $black3;
			border-top: 1px solid $white;
		}
		.circle-image {
			background-color: $theme-color;
			width: 203px;
			height: 203px;
			border-radius: 50%;
			margin: -40px auto 0;
			position: relative;
			img {
				animation: spin 15s linear infinite;
			}
			.arrow {
				transform: rotate(-140deg);
				color: $white;
			}
		}
		@include breakpoint(max-xl) {
			.footer-left-cmn {
				max-width: 1095px;
				.footer-cmn-inner {
					display: flex;
					justify-content: space-between;
					gap: 30px 60px;
					padding-top: 40px;
				}
			}
			.footer-top {
				display: flex;
				align-items: center;
				.footer-cmn-title {
					font-size: 80px;
					line-height: 90px;
					display: inline-flex;
					padding-bottom: 35px;
					gap: 78px;
					font-weight: 600;
					color: $white;
					text-transform: uppercase;
				}
				.footer-widget-head {
					margin-bottom: 0;
					.h-pra {
						margin-bottom: 22px;
					}
				}
			}
			.circle-image {
				width: 180px;
				height: 180px;
				margin: -0px auto 0;
				position: relative;
				img {
					animation: spin 15s linear infinite;
				}
				.arrow {
					transform: rotate(-140deg);
					color: $white;
				}
			}
		}
		@include breakpoint(max-lg) {
			.footer-left-cmn {
				max-width: 1095px;
				.footer-cmn-inner {
					display: flex;
					justify-content: space-between;
					gap: 30px 30px;
					padding-top: 40px;
				}
			}
			.footer-top {
				display: flex;
				align-items: center;
				.footer-cmn-title {
					font-size: 60px;
					line-height: 70px;
					display: inline-flex;
					padding-bottom: 30px;
					gap: 40px;
					font-weight: 600;
					color: $white;
					text-transform: uppercase;
					img {
						width: 60px;
					}
				}
				.footer-widget-head {
					margin-bottom: 0;
					.h-pra {
						margin-bottom: 18px;
					}
				}
			}
			.circle-image {
				width: 150px;
				height: 150px;
				margin: -0px auto 0;
				position: relative;
				img {
					width: 130px;
					animation: spin 15s linear infinite;
				}
				.arrow {
					transform: rotate(-140deg);
					color: $white;
				}
			}
		}
		@include breakpoint(max-md) {
			.footer-top {
				flex-wrap: wrap;
				gap: 30px;
			}
		}
		@include breakpoint(max-sm) {
			.footer-left-cmn {
				max-width: 1095px;
				.footer-cmn-inner {
					display: flex;
					justify-content: space-between;
					gap: 30px 30px;
					padding-top: 30px;
					flex-wrap: wrap;
				}
			}
			.footer-top {
				.footer-cmn-title {
					font-size: 40px;
					line-height: 70px;
					display: inline-flex;
					padding-bottom: 16px;
					gap: 10px;
					font-weight: 600;
					color: $white;
					text-transform: uppercase;
					img {
						width: 40px;
					}
				}
				.footer-widget-head {
					margin-bottom: 0;
					.h-pra {
						margin-bottom: 13px;
					}
				}
			}
			.circle-image {
				width: 150px;
				height: 150px;
				margin: -0px auto 0;
				position: relative;
				img {
					width: 130px;
					animation: spin 15s linear infinite;
				}
				.arrow {
					transform: rotate(-140deg);
					color: $white;
				}
			}
		}
	}
	&.footer-style2{
		background-color: #171717;
		.footer-bottom{
			border-top: 1px solid rgb(255, 255, 255, 22%);
			background-color: #171717;
		}
		.form-style2{
			margin-bottom: 19px;
		}
		.follow-area{
			.wid-title{
				margin-bottom: 28px !important;
			}
		}
		.form-check{
			margin-bottom: 45px;
			.form-check-label{
				font-size: 14px;
				font-weight: 400;
				color: $white;
				opacity: 71%;
			}
			.form-check-input{
				background-color: transparent;
				border-color: #BFEB17 !important;
			}
		}
		.footer-logo1{
			margin-bottom: 50px;
		}
		.widget-link{
			li{
				a{
					color: rgb(255, 255, 255, 77%);
				}
			}
		}
	}
}
.footer-top {
	padding: 150px 0;
	.footer-logo1 {
		margin-bottom: 68px;
		display: block;
	}
	.content-logo {
		margin-bottom: 147px;
	}
	.follow-area {
		h4 {
			margin-bottom: 42px;
		}
	}
	.footer-widget-head {
		margin-bottom: 84px;
		p {
			font-size: 14px;
		}
		.mailto {
			font-size: 26px;
			line-height: 120%;
		}
	}
	.footer-widget-450 {
		max-width: 450px;
		padding-top: 70px;
		margin: 0 auto;
	}
	.footer-widget-inner {
		display: flex;
		justify-content: space-between;
		gap: 16px;
		.widget-link {
			display: flex;
			flex-direction: column;
			gap: 19px;
			li {
				a {
					color: $white;
					font-weight: 500;
					transition: all 0.3s;
					i {
						transition: all 0.3s;
						transform: rotate(-30deg);
						font-size: 16px;
					}
					&:hover {
						color: $theme-color;
						i {
							transform: rotate(0);
						}
					}
				}
			}
		}
	}
	@include breakpoint(max-xxl) {
		padding: 120px 0;
		.footer-logo1 {
			margin-bottom: 30px;
		}
		.content-logo {
			margin-bottom: 40px;
		}
		.follow-area {
			h4 {
				margin-bottom: 42px;
			}
		}
		.footer-widget-head {
			margin-bottom: 24px;
			p {
				font-size: 14px;
			}
			.mailto {
				font-size: 18px;
				line-height: 120%;
			}
		}
		.footer-widget-450 {
			max-width: 450px;
			padding-top: 0px;
			margin: 0 auto;
		}
		.footer-widget-inner {
			display: flex;
			justify-content: space-between;
			gap: 12px;
			.widget-link {
				display: flex;
				flex-direction: column;
				gap: 10px;
				li {
					a {
						i {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
	@include breakpoint(max-lg) {
		padding: 100px 0;
	}
	@include breakpoint(max-lg) {
		padding: 80px 0;
	}
	@include breakpoint(max-sm) {
		.footer-logo1 {
			margin-bottom: 20px;
		}
		.content-logo {
			margin-bottom: 30px;
		}
		.footer-widget-450 {
			max-width: 100%;
			padding-top: 0px;
			margin: 0 auto;
		}
		.footer-widget-inner {
			display: flex;
			justify-content: space-between;
			gap: 12px;
			.widget-link {
				display: flex;
				flex-direction: column;
				gap: 10px;
				li {
					a {
						i {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
.footer-bottom {
	background-color: $black3;
	padding: 24px 1px;
	.footer-bottom-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 5px;
		p {
			color: $text-light1;
			font-weight: 500;
			font-size: 16px;
		}
		ul {
			display: flex;
			align-items: center;
			gap: 5px 30px;
			flex-wrap: wrap;
			li {
				a {
					color: $text-light1;
					font-weight: 500;
					font-size: 16px;
				}
			}
		}
		@include breakpoint(max-sm) {
			justify-content: center;
			ul {
				justify-content: center;
				gap: 5px 20px;
			}
		}
	}
	@include breakpoint(max-sm) {
		padding: 20px 0;
	}
}
.widget-from {
	max-width: 624px;
	margin-left: auto;
	background-color: $bg-dark3;
	border-radius: 12px;
	padding: 55px 45px;
	h4 {
		margin-bottom: 24px;
	}
	.form-groups {
		background: rgba(255, 255, 255, 0.09);
		border-radius: 6px;
		margin-bottom: 18px;
		padding: 1px 1px;
		display: flex;
		align-items: center;
		textarea,
		input {
			color: #cdcdcd;
			font-size: 16px;
			padding: 8px 16px;
		}
		::placeholder {
			color: #cdcdcd;
		}
		i {
			padding-right: 16px;
		}
	}
	@include breakpoint(max-xxl) {
		padding: 30px 24px;
	}
	@include breakpoint(max-lg) {
		max-width: 100%;
	}
}
.form-style2{
	background-color: #2C2C2C;
	padding: 5px;
	border-radius: 7px;
	input{
		color: #868686;
		font-size: 16px;
		width: 100%;
		padding: 7px 10px 7px 24px;
		background-color: transparent;
		border: unset;
	}
	button{
		width: 45px;
		height: 45px;
		min-width: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #3F3F3F;
		border-radius: 7px;
		color: $white;
	}
}
//Footer Section 01
