//page scroll bar add
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $bg-color;
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: $theme-color;
	border-radius: 10px;
}
//page scroll bar add

//Basic Code Start
.fix {
	overflow: hidden;
}

.ralt {
	position: relative;
}
.container {
	max-width: 1740px;
	margin: 0 auto;
}

//Basic Code End

//Video Css Start
.ripple {
	position: relative;

	&::before,
	&::after {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 30px;
		height: 30px;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		border-radius: 50%;
		box-shadow: 0 0 0 0 rgba(21, 57, 238, 0.6);
		-webkit-animation: rippleOne 3s infinite;
		animation: rippleOne 3s infinite;
	}

	&::before {
		-webkit-animation-delay: 0.9s;
		animation-delay: 0.9s;
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
	}

	&::after {
		-webkit-animation-delay: 0.6s;
		animation-delay: 0.6s;
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
//Video Css End

.arrow-button {
	@include flex;
	gap: 20px;
	margin-top: 40px;

	.array-prev {
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border-radius: 10px;
		background-color: $white;
		box-shadow: 8px 6px 51.3px 18px rgba(10, 3, 46, 0.03);
		color: $theme-color;
		@include transition;

		&:hover {
			background-color: $theme-color;
			color: $white;
		}
	}

	.array-next {
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border-radius: 10px;
		background-color: $theme-color;
		color: $white;
		@include transition;

		&:hover {
			background-color: $white;
			color: $theme-color;
		}
	}
}
//pagination default

//pagination default

.swiper-dot {
	text-align: center;

	.swiper-pagination-bullet {
		width: 5px;
		height: 5px;
		transition: 0.6s;
		background-color: $white;

		border-radius: 0;
		opacity: 1;
		position: relative;
		&:not(:last-child) {
			margin-right: 15px;
		}
	}
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background-color: $theme-color;
		border: 1px solid $theme-color;
		transition: 0.6s;
		position: relative;
		width: 5px;
		height: 5px;
		border-radius: 0;

		&::before {
			@include before;
			border: 1px solid $theme-color;
			width: 20px;
			height: 20px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.swiper-dot-2 {
	text-align: center;

	.swiper-pagination-bullet {
		width: 5px;
		height: 5px;
		transition: 0.6s;
		background-color: $white;
		border-radius: 30px;
		opacity: 1;
		position: relative;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background-color: $theme-color;
		border: 1px solid $theme-color;
		transition: 0.6s;
		position: relative;
		width: 5px;
		height: 5px;
		border-radius: 30px;

		&::before {
			@include before;
			border: 1px solid $theme-color;
			width: 20px;
			height: 20px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
		}
	}
}
.bg-cover {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: center;
}

.slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.brand-slide-element {
	width: auto;
	display: inline-block;
}

.footer-bg {
	background-color: $header-color;
}

.page-nav-wrap {
	margin-top: 60px;

	ul {
		li {
			display: inline-block;

			&.active {
				.page-numbers {
					background-color: $theme-color;
					color: $white;
					border: 1px solid $theme-color;
				}
			}

			.page-numbers {
				&.current {
					background-color: $theme-color;
					color: $white;
				}

				display: inline-block;
				width: 48px;
				height: 48px;
				text-align: center;
				line-height: 48px;
				border-radius: 100px;
				border: 1px solid $theme-color;
				background: transparent;
				color: $theme-color;
				font-weight: 600;
				font-size: 18px;
				transition: all 0.3s ease-in-out;
				margin: 0 5px;

				i {
					margin-top: 2px;
				}
				&:hover {
					background-color: $theme-color;
					color: $white;
					border: 1px solid $theme-color;
				}
			}
		}
	}
}

.sticky-style {
	position: sticky !important;
	top: 100px;
}

.split-text {
	overflow: hidden;
	position: relative;
}

.box-shadow-1 {
	box-shadow: 8px 6px 51.3px 151px rgba(10, 3, 46, 0.03) !important;
}

.box-bg-1 {
	background-color: #f7f7f7 !important;
}

.container-2 {
	max-width: 1320px;
}

.text-clr {
	color: $text-color;
}
.text-black2 {
	color: $black2;
}
.theme-clr {
	color: $theme-color !important;
}
.theme-border {
	border: 1px solid $theme-color;
}

.py-onehalf {
	padding-top: 6px;
	padding-bottom: 6px;
}

.link-effect {
	background-position: 0 95%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	display: inline;

	&:hover {
		color: $theme-color;
		background-size: 100% 2px;
		background-image: linear-gradient(
			180deg,
			$theme-color 0%,
			$theme-color 100%
		);
	}
}
//Color

//Font Size
.fs-10 {
	font-size: 10px;
}
.fs-12 {
	font-size: 12px;
}
.fs-14 {
	font-size: 14px;
}
.fs-16 {
	font-size: 16px;
}
.fs-18 {
	font-size: 18px;
}
.fs-25 {
	font-size: 25px;
	@include breakpoint(max-xxl) {
		font-size: 22px;
	}
	@include breakpoint(max-xl) {
		font-size: 20px;
	}
	@include breakpoint(max-md) {
		font-size: 19px;
	}
}
//Font Size

//Hover

//Font
.body-font {
	font-family: $body-font;
}
.heading-font {
	font-family: $heading-font;
}

//Font

.container1320 {
	@include breakpoint(xxl) {
		max-width: 1350px;
		margin: 0 auto;
	}
}

.image__effect {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	width: 100%;
	&::after {
		content: "";
		position: absolute;
		width: 200%;
		height: 0%;
		left: 50%;
		top: 50%;
		background-color: rgba(255, 255, 255, 0.3);
		transform: translate(-50%, -50%) rotate(-45deg);
		z-index: 1;
	}

	img {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		transition: all 1.5s ease-out;
	}
	&:hover {
		&::after {
			height: 250%;
			transition: all 600ms linear;
			background-color: transparent;
		}

		img {
			-webkit-transform: scale3d(1.1, 1.1, 1);
			transform: scale3d(1.1, 1.1, 1);
		}
	}
}

.d-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-bg-1 {
	background-color: $bg-color;
}

.text-bg {
	background-color: $text-color;
}

.black-bg {
	background-color: $black;
}

.social-media-style1 {
	display: flex;
	align-items: center;
	gap: 10px;
	li {
		a {
			width: 45px;
			height: 45px;
			line-height: 45;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #3d3d3d;
			transition: all 0.3s;
			border-radius: 50%;
			i {
				color: $white;
				transition: all 0.3s;
			}
			&:hover {
				background-color: #2c2c2c;
			}
		}
	}
}
.social-style2 {
	display: flex;
	align-items: center;
	gap: 9px 33px;
	li {
    a{
      gap: 13px;
      display: flex;
      align-items: center;
      .cont{
        font-size: 18px;
        color: $white;
        .follow{
          color: #B2B2B2;
          font-size: 15px;
          line-height: 10px;
        }
      }
    }
		.icon {
			width: 54px;
			height: 54px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
      transition: all 0.3s;
			background: rgba(255, 255, 255, 0.06);
			i {
				color: $white;
			}
		}
		&:hover {
			.icon {
				background-color: #2c2c2c;
			}
		}
	}
	@include breakpoint(max-xl) {
		gap: 9px 20px;
	}
}
