.hero-section {
	padding: 180px 0 0px;
	@include breakpoint(max-xl){
		padding: 160px 0 0px;
	}
	@include breakpoint(max-xl){
		padding: 140px 0 0px;
	}
}

//video-header
.video-header {
	margin-bottom: 65px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	.group-thumb {
		max-width: 400px;
		margin-bottom: 240px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		.thumb {
			max-width: 325px;
			img {
				width: 100%;
				border-radius: 14px 14px 0 14px;
			}
		}
		.icon {
			width: 132px;
			position: relative;
			top: 145px;
			height: 145px;
			background: rgba(255, 255, 255, 0.08);
			border-radius: 0px 15px 15px 15px;
		}
	}
	.video-cont {
		max-width: 1150px;
		color: $white;
		font-size: 62px;
		font-weight: 500;
		line-height: 80px;
	}
	@media screen and (max-width: 1500px) {
		.video-cont {
			max-width: 950px;
			font-size: 42px;
			line-height: 50px;
		}
		margin-bottom: 40px;
	}
	@media screen and (max-width: 1299px) {
		.group-thumb {
			max-width: 300px;
			width: 100%;
		}
		.video-cont {
			max-width: 950px;
			font-size: 42px;
			line-height: 50px;
		}
		margin-bottom: 40px;
	}
	@media screen and (max-width: 1199px) {
		.group-thumb {
			max-width: 300px;
			width: 100%;
		}
		.video-cont {
			.cus-arrow {
				width: 120px;
				img {
					width: 100%;
				}
			}
			max-width: 950px;
			font-size: 36px;
			line-height: 42px;
			span {
				font-size: 36px;
			}
		}
		margin-bottom: 40px;
	}
	@media screen and (max-width: 767px) {
		flex-wrap: wrap;
		.group-thumb {
			max-width: 100%;
			width: 100%;
			margin-bottom: 0px;
			justify-content: center;
			.thumb {
				max-width: 325px;
				img {
					width: 100%;
					border-radius: 14px 14px 0 14px;
				}
			}
			.icon {
				width: 132px;
				position: relative;
				top: 0;
				height: 145px;
				left: 12px;
				background: rgba(255, 255, 255, 0.08);
				border-radius: 15px 15px 15px 0px;
			}
		}
		.video-cont {
			.cus-arrow {
				width: 120px;
				img {
					width: 100%;
				}
			}
			max-width: 950px;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			span {
				font-size: 36px;
			}
		}
		margin-bottom: 40px;
	}
	@media screen and (max-width: 550px) {
		flex-wrap: wrap;
		gap: 20px;
		.group-thumb {
			max-width: 100%;
			width: 100%;
			margin-bottom: 0px;
			justify-content: center;
			.thumb {
				max-width: 325px;
				img {
					width: 100%;
					border-radius: 14px 14px 0 14px;
				}
			}
			.icon {
				width: 132px;
				position: relative;
				top: 0;
				height: 145px;
				left: 12px;
				background: rgba(255, 255, 255, 0.08);
				border-radius: 15px 15px 15px 0px;
			}
		}
		.video-cont {
			max-width: 950px;
			font-size: 28px;
			line-height: 36px;
			text-align: center;
			span {
				font-size: 28px;
			}
		}
		margin-bottom: 40px;
	}
}
//video-header

.hero-content-left {
	display: flex;
	align-items: center;
	gap: 70px;
	.reviw-with-arrow {
		.arrow-theme {
			width: 42px;
			height: 42px;
			font-size: 14px;
			color: $white;
			margin-bottom: 20px;
		}
	}
	h2 {
		font-weight: 500;
		font-size: 96px;
		line-height: 99px;
		color: $white;
		.theme-bg{
			height: 70px;
			width: 116px;
			justify-content: center;
		}
	}
	@media screen and (max-width: 1720px) {
		gap: 30px;
		.reviw-with-arrow {
			.arrow-theme {
				width: 37px;
				height: 37px;
				font-size: 12px;
				margin-bottom: 10px;
			}
		}
		h2 {
			font-weight: 500;
			font-size: 70px;
			line-height: 76px;
			.theme-bg {
				width: 50px;
				height: 60px;
				padding: 0 !important;
				line-height: 14px !important;
				img {
					width: 50px;
					height: 40px;
					object-fit: contain;
				}
			}
		}
	}
	@media screen and (max-width: 1399px) {
		gap: 30px;
		.reviw-with-arrow {
			.arrow-theme {
				width: 37px;
				height: 37px;
				font-size: 12px;
				margin-bottom: 10px;
			}
		}
		h2 {
			font-weight: 500;
			font-size: 60px;
			line-height: 66px;
			.theme-bg {
				width: 50px;
				height: 60px;
				padding: 0 !important;
				line-height: 14px !important;
				img {
					width: 50px;
					height: 40px;
					object-fit: contain;
				}
			}
		}
	}
	@media screen and (max-width: 1199px) {
		gap: 30px;
		.reviw-with-arrow {
			.arrow-theme {
				width: 37px;
				height: 37px;
				font-size: 12px;
				margin-bottom: 10px;
			}
		}
		h2 {
			font-weight: 500;
			font-size: 48px;
			line-height: 54px;
			.theme-bg {
				width: 50px;
				height: 60px;
				padding: 0 !important;
				line-height: 14px !important;
				img {
					width: 50px;
					height: 40px;
					object-fit: contain;
				}
			}
		}
	}
	@media screen and (max-width: 767px) {
		gap: 30px;
		.reviw-with-arrow {
			.arrow-theme {
				width: 37px;
				height: 37px;
				font-size: 12px;
				margin-bottom: 10px;
			}
		}
		h2 {
			font-weight: 500;
			font-size: 48px;
			line-height: 54px;
			text-align: center;
			margin-bottom: 30px;
			.theme-bg {
				width: 50px;
				height: 60px;
				padding: 0 !important;
				line-height: 14px !important;
				img {
					width: 50px;
					height: 40px;
					object-fit: contain;
				}
			}
		}
	}
	@media screen and (max-width: 575px) {
		gap: 30px;
		h2 {
			font-weight: 500;
			font-size: 32px;
			line-height: 44px;
			text-align: center;
			margin-bottom: 30px;
			.theme-bg {
				width: 50px;
				height: 60px;
				padding: 0 !important;
				line-height: 14px !important;
				img {
					width: 50px;
					height: 40px;
					object-fit: contain;
				}
			}
		}
	}
}
.hero-content-right {
	max-width: 560px;
	margin-left: auto;
	.hero__right_inner {
		display: flex;
		justify-content: space-between;
		gap: 12px;
		margin-bottom: 130px;
		.cont {
			max-width: 240px;
			p {
				font-weight: 500;
				font-size: 18px;
				line-height: 28px;
				color: rgba(255, 255, 255, 0.63);
				margin: 0;
			}
			h2 {
				font-size: 96px;
				line-height: 99px;
				color: $white;
			}
		}
		.hero-r-thumb {
			max-width: 245px;
		}
	}
	.r-pragraph {
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		color: $white;
	}
	@media screen and (max-width: 1500px) {
		.hero__right_inner {
			display: flex;
			justify-content: space-between;
			gap: 12px;
			margin-bottom: 30px;
			.cont {
				max-width: 240px;
				p {
					font-size: 18px;
					line-height: 28px;
					margin: 0;
				}
				h2 {
					font-size: 70px;
					line-height: 80px;
				}
			}
			.hero-r-thumb {
				max-width: 245px;
			}
		}
	}
	@media screen and (max-width: 1399px) {
		.hero__right_inner {
			display: flex;
			justify-content: space-between;
			gap: 12px;
			margin-bottom: 22px;
			.cont {
				max-width: 240px;
				p {
					font-size: 18px;
					line-height: 28px;
					margin: 0;
				}
				.count,
				h2 {
					font-size: 50px;
					line-height: 60px;
				}
			}
			.hero-r-thumb {
				max-width: 245px;
			}
		}
	}
	@media screen and (max-width: 991px) {
		max-width: 100%;
		.hero__right_inner {
			display: flex;
			justify-content: space-between;
			gap: 12px;
			margin-bottom: 22px;
			.cont {
				max-width: 240px;
				p {
					font-size: 18px;
					line-height: 28px;
					margin: 0;
				}
				.count,
				h2 {
					font-size: 50px;
					line-height: 60px;
				}
			}
			.hero-r-thumb {
				max-width: 245px;
			}
		}
		.r-pragraph {
			text-align: center;
			max-width: 500px;
			margin: 0 auto;
		}
	}
}
.text-with-circle {
	.hero-m-title {
		font-weight: 700;
		font-size: 890px;
		line-height: 927px;
		text-align: center;
		letter-spacing: 1px;
		color: #ff602c;
		margin-top: 80px;
		margin-bottom: -80px;
	}
	.circle-image {
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(17.65px);
		border-radius: 50%;
		width: 188px;
		height: 188px;
		margin: 0 auto;
		position: absolute;
		top: -60px;
		left: 50%;
		transform: translateX(-50%);
		.mimg-text {
			animation: spin 15s linear infinite;
		}
		.icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	@media screen and (max-width: 1720px) {
		.hero-m-title {
			font-weight: 700;
			font-size: 790px;
			line-height: 827px;
			text-align: center;
			letter-spacing: 1px;
			color: #ff602c;
			margin-top: 80px;
			margin-bottom: -80px;
		}
	}
	@media screen and (max-width: 1500px) {
		.hero-m-title {
			font-weight: 700;
			font-size: 690px;
			line-height: 700px;
			text-align: center;
			letter-spacing: 1px;
			margin-top: 80px;
			margin-bottom: -60px;
		}
	}
	@media screen and (max-width: 1320px) {
		.hero-m-title {
			font-size: 590px;
			line-height: 600px;
			letter-spacing: 1px;
			margin-top: 80px;
			margin-bottom: -60px;
		}
	}
	@media screen and (max-width: 1199px) {
		.hero-m-title {
			font-size: 490px;
			line-height: 500px;
			letter-spacing: 1px;
			margin-top: 80px;
			margin-bottom: -50px;
		}
	}
	@media screen and (max-width: 991px) {
		.hero-m-title {
			font-size: 350px;
			line-height: 350px;
			letter-spacing: 1px;
			margin-top: 80px;
			margin-bottom: -0px;
		}
	}
	@media screen and (max-width: 767px) {
		.hero-m-title {
			font-size: 250px;
			line-height: 250px;
			letter-spacing: 1px;
			margin-top: 40px;
			margin-bottom: -0px;
		}
		.circle-image {
			position: relative;
			top: 20px;
			left: 0%;
			transform: translateX(-0%);
		}
	}
	@media screen and (max-width: 500px) {
		.hero-m-title {
			font-size: 155px;
			line-height: 150px;
			letter-spacing: 1px;
			margin-top: 40px;
			margin-bottom: 40px;
			text-align: center;
		}
		.circle-image {
			position: relative;
			top: 20px;
			left: 0%;
			transform: translateX(-0%);
		}
	}
}
