.hero-section {
	padding: 70px 0 150px;
}

//video-header
.video-header {
	margin-bottom: 65px;
	display: flex;
	justify-content: space-between;
	.group-thumb {
		max-width: 400px;
		margin-bottom: 240px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		.thumb {
			max-width: 325px;
			img {
				width: 100%;
				border-radius: 14px 14px 0 14px;
			}
		}
		.icon {
			width: 132px;
			position: relative;
			top: 145px;
			height: 145px;
			background: rgba(255, 255, 255, 0.08);
			border-radius: 0px 15px 15px 15px;
		}
	}
	.video-cont {
		max-width: 1150px;
		color: $white;
		font-size: 62px;
		font-weight: 500;
		line-height: 80px;
	}
}
//video-header

.hero-content-left {
	display: flex;
	align-items: center;
	gap: 70px;
	.reviw-with-arrow {
		.arrow-theme {
			width: 42px;
			height: 42px;
			font-size: 14px;
			color: $white;
			margin-bottom: 20px;
		}
	}
	h2 {
		font-weight: 500;
		font-size: 96px;
		line-height: 99px;
		color: $white;
	}
}
.hero-content-right {
	max-width: 560px;
	margin-left: auto;
	.hero__right_inner {
		display: flex;
		justify-content: space-between;
		gap: 12px;
		margin-bottom: 130px;
		.cont {
			max-width: 240px;
			p {
				font-weight: 500;
				font-size: 18px;
				line-height: 28px;
				color: rgba(255, 255, 255, 0.63);
				margin: 0;
			}
			h2 {
				font-size: 96px;
				line-height: 99px;
				color: $white;
			}
		}
		.hero-r-thumb {
			max-width: 245px;
		}
	}
	.r-pragraph {
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		color: $white;
	}
}
.text-with-circle {
	.hero-m-title {
		font-weight: 700;
		font-size: 960px;
		line-height: 610px;
		text-align: center;
		letter-spacing: -0.01em;
		color: #ff602c;
	}
}
