//Blog Section
.blog-section {
	.container {
		max-width: 1310px;
	}
}
.blog-right-sidebar {
	background-color: #f6f8ef;
	border-radius: 12px;
	padding: 50px 25px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	.user-profile {
		max-width: 238px;
		margin: 0 auto;
		.profile {
			margin: 0 auto 40px;
		}
		.title {
			margin-bottom: 10px;
			a {
				font-size: 26px;
				color: $black;
				font-weight: 600;
			}
		}
		.designation {
			color: #898989;
			font-size: 14px;
		}
		.profile-cont {
			margin-bottom: 37px;
		}
		.exprient-text {
			margin-bottom: 28px;
			font-weight: 500;
			font-size: 18px;
			line-height: 30px;
			color: #4a4a4a;
		}
		.social-icon {
			gap: 10px;
			a {
				width: 42px;
				height: 42px;
				border-radius: 50%;
				background: $white;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #39404a;
				&:hover {
					background-color: $black;
					color: $white;
					font-size: 16px;
				}
			}
		}
	}
	.bar-cmn-title {
		font-size: 22px;
		line-height: 26px;
		color: $black;
		margin-bottom: 21px;
		font-weight: 600;
	}
	.category-point {
		ul {
			display: flex;
			flex-direction: column;
			gap: 12px;
			.cate-item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				background-color: $white;
				padding: 12px 24px;
				border-radius: 6px;
				font-size: 18px;
				font-weight: 500;
				color: #4a4a4a;
				transition: all 0.4s ease-in-out;
				&:hover {
					background-color: $theme-color;
					color: $white;
				}
			}
		}
	}
	.post-point {
		ul {
			display: flex;
			flex-direction: column;
			gap: 20px;
			li {
				a {
					display: flex;
					align-items: center;
					gap: 24px;
					.thumb {
						width: 145px;
						img {
							width: 100%;
						}
					}
					.cont {
						.date {
							font-size: 14px;
							color: #717171;
							display: block;
							margin-bottom: 4px;
						}
						.titles {
							transition: all 0.4s ease-in-out;
							font-size: 18px;
							line-height: 22px;
							display: block;
							color: $black;
							font-weight: 600;
						}
					}
					&:hover {
						.titles {
							color: $theme-color;
						}
					}
				}
			}
		}
	}
	.tag-point {
		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
			li {
				a {
					display: inline-block;
					background-color: $white;
					font-size: 15px;
					line-height: 19px;
					border-radius: 100px;
					padding: 8px 19px;
					color: #4a4a4a;
					transition: all 0.4s ease-in-out;
					&:hover {
						background-color: $theme-color;
						color: $white;
					}
				}
			}
		}
	}
	@include breakpoint(max-xxl) {
		padding: 40px 19px;
		gap: 34px;
		.user-profile {
			max-width: 238px;
			margin: 0 auto;
			.profile {
				margin: 0 auto 20px;
			}
			.title {
				margin-bottom: 8px;
				a {
					font-size: 24px;
				}
			}
			.designation {
				font-size: 14px;
			}
			.profile-cont {
				margin-bottom: 24px;
			}
			.exprient-text {
				margin-bottom: 24px;
				font-size: 14px;
				line-height: 20px;
			}
		}
		.bar-cmn-title {
			font-size: 19px;
			line-height: 24px;
			margin-bottom: 18px;
		}
		.category-point {
			ul {
				display: flex;
				flex-direction: column;
				gap: 9px;
				.cate-item {
					padding: 8px 20px;
					border-radius: 6px;
					font-size: 16px;
				}
			}
		}
		.post-point {
			ul {
				display: flex;
				flex-direction: column;
				gap: 15px;
				li {
					a {
						gap: 10px;
						.thumb {
							width: 110px;
							img {
								width: 100%;
							}
						}
						.cont {
							.date {
								font-size: 12px;
								margin-bottom: 2px;
							}
							.titles {
								font-size: 16px;
								line-height: 22px;
							}
						}
					}
				}
			}
		}
		.tag-point {
			ul {
				gap: 8px;
				li {
					a {
						font-size: 13px;
						line-height: 18px;
						padding: 7px 16px;
					}
				}
			}
		}
	}
}
.blog-left-wrap {
	display: flex;
	flex-direction: column;
	gap: 40px;
	.blog-big-items {
		padding: 15px;
		border: 1px solid #dadada;
		border-radius: 12px;
		.blog-thumb {
			width: 100%;
			display: block;
			overflow: hidden;
			border-radius: 12px;
			img {
				overflow: hidden;
				width: 100%;
				border-radius: 12px;
				display: block;
				transition: all 0.4s ease-in-out;
			}
		}
		.blog-content {
			padding: 29px 25px 32px;
			.blog-meta {
				display: flex;
				align-items: center;
				gap: 10px 32px;
				margin-bottom: 10px;
				.meta-use {
					font-size: 18px;
					font-weight: 600;
					color: $black;
				}
				.meta-date {
					font-size: 16px;
					color: #717171;
				}
				.marketing-tag {
					border: 1px solid rgb(234, 77, 35, 31%);
					font-size: 15px;
					line-height: 18px;
					padding: 10px 20px;
					border-radius: 100px;
					display: inline-block;
					color: $theme-color;
				}
			}
			.blog-title {
				font-size: 44px;
				line-height: 52px;
				color: $black;
				font-weight: 500;
				margin-bottom: 20px;
			}
			.blog-text {
				font-size: 18px;
				line-height: 30px;
				color: #898989;
				margin-bottom: 42px;
			}
		}
		&:hover {
			.blog-content {
				.blog-title a {
					color: $theme-color;
				}
			}
			.blog-thumb {
				img {
					border-radius: 12px;
					transform: scale(1.05);
				}
			}
		}
	}
	&.styel2 {
		.blog-big-items {
			padding: 0;
			border: 0;
			.blog-thumb {
				margin-bottom: 25px;
			}
			.blog-content {
				padding: 0;
				.blog-meta {
					margin-bottom: 24px;
					gap: 8px 20px;
					li {
						font-size: 16px;
						color: #666666;
					}
					.line {
						width: 1px;
						background-color: #646970cb;
						height: 23px;
					}
				}
				.blog-title {
					font-weight: 700;
					margin-bottom: 20px;
				}
				.intro {
					margin-bottom: 40px;
					.title {
						margin-bottom: 12px;
						color: $black;
						font-size: 26px;
					}
					p {
						font-size: 16px;
						line-height: 24px;
						color: #898989;
					}
				}
				.l-pra {
					font-size: 16px;
					line-height: 24px;
					color: #898989;
					margin-bottom: 70px;
				}
				.quote-wrap {
					background-color: #f8f7f0;
					padding: 45px 55px;
					border-left: 2px solid #ea4d23;
					margin-bottom: 50px;
					h4 {
						font-size: 28px;
						color: $black;
						margin-bottom: 40px;
					}
					.exicutive {
						h5 {
							font-size: 18px;
							line-height: 24px;
							color: $black;
							margin-bottom: 2px;
						}
						p {
							font-size: 16px;
							line-height: 18px;
						}
					}
				}
				.intro2 {
					.title {
						margin-bottom: 12px;
						color: $black;
						font-size: 22px;
						line-height: 29px;
					}
					.pra-fs {
						font-size: 16px;
						line-height: 24px;
						color: #898989;
						margin-bottom: 30px;
					}
					.intro-list {
						display: flex;
						flex-direction: column;
						gap: 15px;
						li {
							position: relative;
							padding-left: 24px;
							display: flex;
							align-items: center;
							gap: 14px;
							font-size: 16px;
							line-height: 19px;
							color: #898989;
							&::before {
								position: absolute;
								content: "";
								left: 0;
								width: 5px;
								height: 5px;
								background-color: #898989;
								border-radius: 50%;
							}
						}
					}
					.pra-ls {
						font-size: 16px;
						line-height: 24px;
						color: #898989;
						margin-top: 30px;
					}
				}
			}
			.blog-thumb02 {
				margin-top: 60px;
				margin-bottom: 60px;
				display: block;
				width: 100%;
				img {
					width: 100%;
				}
			}
		}
		.comment-area {
			padding: 80px 0;
			h4 {
				margin-bottom: 40px;
				font-size: 38px;
				line-height: 48px;
				color: $black;
				font-weight: 700;
			}
			.comment-area-inner {
				display: flex;
				flex-direction: column;
				gap: 56px;
				.comment-area-item {
					display: flex;
					gap: 25px;
					.com-thumb {
						width: 92px;
						height: 92px;
						border-radius: 50%;
					}
					.comment-cont {
						.pra-box {
							margin-top: 20px;
							padding: 30px 30px;
							border-radius: 12px;
							margin-bottom: 15px;
							p {
								color: #898989;
								font-size: 16px;
								line-height: 26px;
							}
						}
						.replay {
							font-size: #505050;
							font-size: 16px;
							font-weight: 500;
							transition: all 0.4s;
							&:hover {
								color: $theme-color;
							}
						}
					}
					&.third {
						margin-left: 100px;
					}
				}
			}
		}
		@include breakpoint(max-xl) {
			.blog-big-items {
				padding: 0;
				border: 0;
				.blog-thumb {
					margin-bottom: 20px;
				}
				.blog-content {
					padding: 0;
					.blog-meta {
						margin-bottom: 19px;
						gap: 7px 18px;
						li {
							font-size: 16px;
						}
						.line {
							width: 1px;
							height: 18px;
						}
					}
					.blog-title {
						margin-bottom: 20px;
						font-size: 29px;
						line-height: 35px;
					}
					.intro {
						margin-bottom: 28px;
						.title {
							margin-bottom: 9px;
							color: $black;
							font-size: 20px;
							line-height: 24px;
						}
						p {
							font-size: 16px;
							line-height: 24px;
						}
					}
					.l-pra {
						font-size: 16px;
						line-height: 24px;
						margin-bottom: 30px;
					}
					.quote-wrap {
						padding: 30px 30px;
						border-left: 1px solid #ea4d23;
						margin-bottom: 30px;
						h4 {
							font-size: 20px;
							line-height: 26px;
							color: $black;
							margin-bottom: 28px;
						}
						.quote {
							width: 36px;
						}
						.exicutive {
							h5 {
								font-size: 18px;
								line-height: 24px;
								color: $black;
								margin-bottom: 2px;
							}
							p {
								font-size: 16px;
								line-height: 18px;
							}
						}
					}
					.intro2 {
						.title {
							margin-bottom: 8px;
							font-size: 20px;
							line-height: 28px;
						}
						.pra-fs {
							font-size: 16px;
							line-height: 24px;
							color: #898989;
							margin-bottom: 20px;
						}
						.intro-list {
							display: flex;
							flex-direction: column;
							gap: 11px;
							li {
								position: relative;
								padding-left: 24px;
								display: flex;
								align-items: center;
								gap: 14px;
								font-size: 16px;
								line-height: 19px;
							}
						}
						.pra-ls {
							font-size: 16px;
							line-height: 24px;
							margin-top: 20px;
						}
					}
				}
				.blog-thumb02 {
					margin-top: 30px;
					margin-bottom: 30px;
				}
			}
			.comment-area {
				padding: 60px 0;
				h4 {
					margin-bottom: 24px;
					font-size: 28px;
					line-height: 37px;
				}
				.comment-area-inner {
					display: flex;
					flex-direction: column;
					gap: 45px;
					.comment-area-item {
						display: flex;
						gap: 16px;
						.com-thumb {
							width: 90px;
							height: 90px;
							img {
								width: 100%;
							}
						}
						.comment-cont {
							.pra-box {
								margin-top: 16px;
								padding: 16px 20px;
								margin-bottom: 9px;
								p {
									color: #898989;
									font-size: 16px;
									line-height: 22px;
								}
							}
							.replay {
								font-size: #505050;
								font-size: 16px;
								font-weight: 500;
								transition: all 0.4s;
								&:hover {
									color: $theme-color;
								}
							}
						}
						&.third {
							margin-left: 100px;
						}
					}
				}
			}
		}
		@include breakpoint(max-md) {
			.blog-big-items {
				padding: 0;
				border: 0;
				.blog-thumb {
					margin-bottom: 20px;
				}
				.blog-content {
					padding: 0;
					.blog-meta {
						margin-bottom: 19px;
						gap: 7px 18px;
						li {
							font-size: 16px;
						}
						.line {
							width: 1px;
							height: 18px;
						}
					}
					.blog-title {
						margin-bottom: 16px;
						font-size: 26px;
						line-height: 30px;
					}
					.intro {
						margin-bottom: 16px;
						.title {
							margin-bottom: 9px;
							color: $black;
							font-size: 20px;
							line-height: 24px;
						}
						p {
							font-size: 16px;
							line-height: 24px;
						}
					}
					.l-pra {
						font-size: 16px;
						line-height: 24px;
						margin-bottom: 25px;
					}
					.quote-wrap {
						padding: 24px 20px;
						margin-bottom: 25px;
						h4 {
							font-size: 18px;
							line-height: 26px;
							color: $black;
							margin-bottom: 22px;
						}
						.quote {
							width: 36px;
						}
						.exicutive {
							h5 {
								font-size: 18px;
								line-height: 24px;
								color: $black;
								margin-bottom: 2px;
							}
							p {
								font-size: 16px;
								line-height: 18px;
							}
						}
					}
					.intro2 {
						.title {
							margin-bottom: 8px;
							font-size: 20px;
							line-height: 28px;
						}
						.pra-fs {
							font-size: 16px;
							line-height: 24px;
							color: #898989;
							margin-bottom: 20px;
						}
						.intro-list {
							display: flex;
							flex-direction: column;
							gap: 11px;
							li {
								position: relative;
								padding-left: 24px;
								display: flex;
								align-items: center;
								gap: 14px;
								font-size: 16px;
								line-height: 19px;
							}
						}
						.pra-ls {
							font-size: 16px;
							line-height: 24px;
							margin-top: 20px;
						}
					}
				}
				.blog-thumb02 {
					margin-top: 22px;
					margin-bottom: 22px;
				}
			}
			.comment-area {
				padding: 60px 0;
				h4 {
					margin-bottom: 24px;
					font-size: 28px;
					line-height: 37px;
				}
				.comment-area-inner {
					display: flex;
					flex-direction: column;
					gap: 24px;
					.comment-area-item {
						display: flex;
						gap: 16px;
						.com-thumb {
							width: 90px;
							height: 90px;
							img {
								width: 100%;
							}
						}
						.comment-cont {
							.pra-box {
								margin-top: 16px;
								padding: 16px 20px;
								margin-bottom: 9px;
								p {
									color: #898989;
									font-size: 16px;
									line-height: 22px;
								}
							}
							.replay {
								font-size: #505050;
								font-size: 16px;
								font-weight: 500;
								transition: all 0.4s;
								&:hover {
									color: $theme-color;
								}
							}
						}
						&.third {
							margin-left: 1px;
						}
					}
				}
			}
		}
		@include breakpoint(max-sm) {
			.comment-area {
				padding: 40px 0;
				h4 {
					margin-bottom: 24px;
					font-size: 21px;
					line-height: 27px;
				}
				.comment-area-inner {
					display: flex;
					flex-direction: column;
					gap: 24px;
					.comment-area-item {
						display: flex;
						gap: 16px;
						.com-thumb {
							width: 60px;
							height: 60px;
							min-width: 60px;
							img {
								width: 100%;
							}
						}
						.comment-cont {
							.pra-box {
								margin-top: 16px;
								padding: 16px 20px;
								margin-bottom: 9px;
								p {
									color: #898989;
									font-size: 16px;
									line-height: 22px;
								}
							}
							.replay {
								font-size: #505050;
								font-size: 16px;
								font-weight: 500;
								transition: all 0.4s;
								&:hover {
									color: $theme-color;
								}
							}
						}
						&.third {
							margin-left: 1px;
						}
					}
				}
			}
		}
	}
	.leave-area {
		.head {
			margin-bottom: 45px;
			h4 {
				font-size: 38px;
				font-weight: 700;
				color: $black;
				margin-bottom: 16px;
			}
			p {
				color: #898989;
				font-size: 16px;
				line-height: 22px;
			}
		}
		.leave-grp {
			label {
				color: #232323;
				font-size: 16px;
				line-height: 22px;
				margin-bottom: 12px;
			}
			textarea {
				margin-bottom: -10px;
			}
			textarea,
			input {
				background-color: #f6f8ef;
				padding: 12px 19px;
				border: unset;
				outline: none;
				color: $black;
				font-size: 15px;
				width: 100%;
			}
		}
		@include breakpoint(max-xl) {
			.head {
				margin-bottom: 35px;
				h4 {
					font-size: 30px;
					font-weight: 700;
					color: $black;
					margin-bottom: 9px;
				}
				p {
					color: #898989;
					font-size: 16px;
					line-height: 22px;
				}
			}
			.leave-grp {
				label {
					color: #232323;
					font-size: 16px;
					line-height: 22px;
					margin-bottom: 12px;
				}
				textarea {
					margin-bottom: -10px;
				}
				textarea,
				input {
					background-color: #f6f8ef;
					padding: 14px 19px;
					border: unset;
					outline: none;
					color: $black;
					font-size: 15px;
					width: 100%;
				}
			}
		}
		@include breakpoint(max-md){
			.head {
				margin-bottom: 20px;
				h4 {
					font-size: 22px;
					margin-bottom: 9px;
				}
				p {
					color: #898989;
					font-size: 16px;
					line-height: 22px;
				}
			}
		}
	}
	@include breakpoint(max-xl) {
		gap: 40px;
		.blog-big-items {
			padding: 15px;
			border: 1px solid #dadada;
			border-radius: 12px;
			.blog-thumb {
				width: 100%;
				display: block;
				overflow: hidden;
				border-radius: 12px;
				img {
					overflow: hidden;
					width: 100%;
					border-radius: 12px;
					display: block;
					transition: all 0.4s ease-in-out;
				}
			}
			.blog-content {
				padding: 24px 10px 25px;
				.blog-meta {
					display: flex;
					align-items: center;
					gap: 10px 32px;
					margin-bottom: 10px;
					.meta-use {
						font-size: 18px;
						font-weight: 600;
						color: $black;
					}
					.meta-date {
						font-size: 16px;
					}
					.marketing-tag {
						font-size: 14px;
						line-height: 17px;
						padding: 9px 16px;
					}
				}
				.blog-title {
					font-size: 36px;
					line-height: 46px;
					margin-bottom: 16px;
					a {
						font-size: 36px;
					}
				}
				.blog-text {
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 35px;
				}
			}
		}
	}
	@include breakpoint(max-md) {
		gap: 30px;
		.blog-big-items {
			padding: 15px;
			border: 1px solid #dadada;
			border-radius: 12px;
			.blog-thumb {
				width: 100%;
				display: block;
				overflow: hidden;
				border-radius: 12px;
				img {
					overflow: hidden;
					width: 100%;
					border-radius: 12px;
					display: block;
					transition: all 0.4s ease-in-out;
				}
			}
			.blog-content {
				padding: 24px 5px 25px;
				.blog-meta {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					gap: 8px 20px;
					margin-bottom: 10px;
					.meta-use {
						font-size: 18px;
						font-weight: 600;
						color: $black;
					}
					.meta-date {
						font-size: 16px;
					}
					.marketing-tag {
						font-size: 14px;
						line-height: 17px;
						padding: 9px 16px;
					}
				}
				.blog-title {
					font-size: 29px;
					line-height: 33px;
					margin-bottom: 16px;
					a {
						font-size: 29px;
					}
				}
				.blog-text {
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 35px;
				}
			}
		}
	}
}
.pagination-list {
	display: flex;
	gap: 16px;
	margin-top: 60px;
	li {
		a {
			width: 50px;
			height: 50px;
			border: 1px solid $black;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $black;
			font-size: 20px;
			font-weight: 600;
			transition: all 0.4s ease-in-out;
			border-radius: 50%;
			&:hover {
				background-color: $black;
				color: $white;
			}
		}
	}
	@include breakpoint(max-md) {
		margin-top: 40px;
		gap: 12px;
		li {
			a {
				width: 40px;
				height: 40px;
				font-size: 16px;
			}
		}
	}
	@include breakpoint(max-sm) {
		margin-top: 24px;
		gap: 12px;
		li {
			a {
				width: 40px;
				height: 40px;
				font-size: 16px;
			}
		}
	}
}
//Blog Section
