.project-gallery {
	background: rgba(255, 255, 255, 0.06);
	border-radius: 139px 139px 0px 0px;
}
.project-gallery-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
	margin-bottom: 45px;
	p {
		font-size: 18px;
		color: $white;
		font-weight: 500;
	}
	@include breakpoint(max-md) {
		justify-content: center;
	}
}
.project-card-item {
	.thumb {
		border-radius: 30px;
		margin-bottom: 45px;
		img {
			border-radius: 30px;
			transition: all 0.4s;
		}
	}
	.content {
		h3 {
			a {
				font-size: 36px;
				color: $white;
				line-height: 46px;
			}
		}
		.tag-project {
			margin-bottom: 18px;
			li {
				a {
					display: inline-block;
					color: $white;
					border: 1px solid rgb(255, 255, 255, 0.36);
					border-radius: 100px;
					padding: 10px 22px;
					font-weight: 700;
					line-height: 25px;
					font-size: 15px;
					transition: all 0.4s;
					&:hover {
						background-color: $theme-color;
						color: $white;
					}
				}
			}
		}
	}
	&:hover {
		.thumb {
			img {
				transform: scale(1.05);
			}
		}
	}
	@include breakpoint(max-xxl) {
		.thumb {
			margin-bottom: 30px;
		}
		.content {
			h3 {
				a {
					font-size: 29px;
					line-height: 39px;
				}
			}
			.tag-project {
				margin-bottom: 16px;
				li {
					a {
						display: inline-block;
						color: $white;
						border: 1px solid rgb(255, 255, 255, 0.36);
						border-radius: 100px;
						padding: 8px 22px;
						font-weight: 700;
						line-height: 25px;
						font-size: 15px;
						transition: all 0.4s;
						&:hover {
							background-color: $theme-color;
							color: $white;
						}
					}
				}
			}
		}
	}
	@include breakpoint(max-sm) {
		.thumb {
			margin-bottom: 22px;
		}
		.content {
			h3 {
				a {
					font-size: 24px;
					line-height: 39px;
				}
			}
			.tag-project {
				margin-bottom: 14px;
				li {
					a {
						display: inline-block;
						color: $white;
						border: 1px solid rgb(255, 255, 255, 0.36);
						border-radius: 100px;
						padding: 5px 22px;
						font-weight: 700;
						line-height: 25px;
						font-size: 15px;
						transition: all 0.4s;
						&:hover {
							background-color: $theme-color;
							color: $white;
						}
					}
				}
			}
		}
	}
}

//since-section
.since-section {
	.service-title {
		margin: 0;
		max-width: 1370px;
		margin: 0 auto;
		.sticker-thing {
			position: absolute;
			bottom: 170px;
			right: 20px;
		}
	}
	.circle-image {
		background-color: #2c2c2c;
		width: 203px;
		height: 203px;
		border-radius: 50%;
		margin: -40px auto 0;
		position: relative;
		img {
			animation: spin 15s linear infinite;
		}
		.arrow {
			transform: rotate(-140deg);
			color: $white;
		}
	}
	.since-group1 {
		max-width: 1720px;
		margin: -317px auto 0;
		.thumb1 {
			max-width: 241px;
		}
		.thumb2 {
			max-width: 357px;
			top: 61px;
			position: relative;
		}
	}
	.since-group2 {
		max-width: 1127px;
		margin-left: 195px;
		margin-top: -250px;
		z-index: 2;
		.thumb1 {
			max-width: 277px;
		}
		.thumb2 {
			max-width: 270px;
			margin-top: 161px;
		}
	}
	.since-group3 {
		max-width: 1650px;
		margin: -200px auto 0;
		.thumb1 {
			max-width: 346px;
			margin-bottom: 44px;
		}
		.thumb2 {
			max-width: 417px;
			padding-right: 30px;
		}
		.thumb3 {
			max-width: 394px;
			margin-bottom: 74px;
			position: relative;
		}
	}
	@include breakpoint(max-xxl) {
		.since-group1 {
			max-width: 1720px;
			margin: -317px auto 0;
			.thumb1 {
				max-width: 200px;
			}
			.thumb2 {
				max-width: 290px;
				top: 61px;
				position: relative;
			}
		}
		.since-group2 {
			max-width: 1127px;
			margin-left: 195px;
			margin-top: -80px;
			z-index: 2;
			.thumb1 {
				max-width: 200px;
			}
			.thumb2 {
				max-width: 200px;
				margin-top: 161px;
			}
		}
		.since-group3 {
			max-width: 1650px;
			margin: -100px auto 0;
			.thumb1 {
				max-width: 300px;
				margin-bottom: 44px;
			}
			.thumb2 {
				max-width: 417px;
				padding-right: 30px;
			}
			.thumb3 {
				max-width: 300px;
				margin-bottom: 74px;
				position: relative;
			}
		}
		.service-title {
			font-size: 40px;
			line-height: 50px;
			text-align: center !important;
			margin: 0 auto 50px !important;
			span {
				font-size: 40px;
			}
			.sticker-thing {
				right: 350px !important;
			}
		}
	}
	@include breakpoint(max-lg) {
		.since-group1 {
			max-width: 1720px;
			margin: -0px auto 0;
			.thumb1 {
				max-width: 200px;
			}
			.thumb2 {
				max-width: 290px;
				top: 61px;
				position: relative;
			}
		}
		.since-group2 {
			max-width: 1127px;
			margin-left: 195px;
			margin-top: -0px;
			z-index: 2;
			.thumb1 {
				max-width: 200px;
			}
			.thumb2 {
				max-width: 200px;
				margin-top: 161px;
			}
		}
		.since-group3 {
			max-width: 1650px;
			margin: -0px auto 0;
			.thumb1 {
				max-width: 210px;
				margin-bottom: 44px;
			}
			.thumb2 {
				max-width: 350px;
				padding-right: 0px;
				padding: 8px 12px;
				img {
					width: 100%;
				}
			}
			.thumb3 {
				max-width: 300px;
				margin-bottom: 74px;
				position: relative;
			}
		}
		.service-title {
			font-size: 32px;
			line-height: 42px;
			text-align: center !important;
			margin: 0 auto 30px !important;
			span {
				font-size: 32px;
			}
			.sticker-thing {
				right: 350px !important;
			}
		}
	}
	@include breakpoint(max-sm) {
		.since-group1 {
			max-width: 1720px;
			margin: -0px auto 0;
			.thumb1 {
				max-width: 200px;
			}
			.thumb2 {
				max-width: 290px;
				top: 61px;
				position: relative;
				padding: 1px 8px;
			}
		}
		.since-group2 {
			max-width: 1127px;
			margin-left: 5px;
			margin-top: -0px;
			z-index: 2;
			.thumb1 {
				max-width: 200px;
				padding: 1px 10px;
			}
			.thumb2 {
				max-width: 200px;
				margin-top: 161px;
			}
		}
		.since-group3 {
			max-width: 1650px;
			margin: 16px auto 0;
			.thumb1 {
				max-width: 210px;
				margin-bottom: 44px;
			}
			.thumb2 {
				max-width: 350px;
				padding-right: 0px;
				padding: 8px 12px;
				img {
					width: 100%;
				}
			}
			.thumb3 {
				max-width: 300px;
				margin-bottom: 74px;
				position: relative;
			}
		}
		.service-title {
			font-size: 32px;
			line-height: 42px;
			text-align: center !important;
			margin: 0 auto 30px !important;
			span {
				font-size: 32px;
			}
			.sticker-thing {
				right: 350px !important;
			}
		}
	}
}
//since-section

//new__project_items
.new__project_items {
	position: relative;
	border-radius: 12px;
	height: 556px;
	img {
		height: 100%;
		overflow: hidden;
		border-radius: 12px;
		transition: all 0.5s;
	}
	.content {
		background-color: $white;
		padding: 21px 31px;
		border-radius: 4px;
		max-width: 264px;
		width: 100%;
		position: absolute;
		bottom: -200px;
		left: 0;
		transition: all 0.6s;
		z-index: 1;
		h6 {
			font-weight: 500;
			font-size: 18px;
			line-height: 20px;
			color: #717171;
			margin-bottom: 13px;
		}
		.title {
			font-weight: 700;
			font-size: 22px;
			line-height: 32px;
			color: $black;
			display: block;
		}
	}
	&:hover {
		.content {
			bottom: 59px;
		}
		img {
			transform: scale(1.05);
		}
		.title {
			color: $theme-color;
		}
	}
	@include breakpoint(max-xxl) {
		height: 500px;
		img {
			height: 100%;
		}
		.content {
			background-color: $white;
			padding: 21px 31px;
			width: 100%;
			bottom: -200px;
			h6 {
				font-size: 18px;
				line-height: 20px;
				margin-bottom: 13px;
			}
			.title {
				font-size: 22px;
				line-height: 32px;
			}
		}
		&:hover {
			.content {
				bottom: 24px;
			}
		}
	}
	@include breakpoint(max-lg) {
		height: 500px;
		img {
			height: 100%;
		}
		.content {
			background-color: $white;
			padding: 18px 24px;
			width: 100%;
			bottom: -200px;
			h6 {
				font-size: 16px;
				line-height: 22px;
				margin-bottom: 2px;
			}
			.title {
				font-size: 19px;
				line-height: 28px;
			}
		}
		&:hover {
			.content {
				bottom: 24px;
			}
		}
	}
	@include breakpoint(max-md) {
		height: 500px;
		img {
			height: 100%;
		}
		.content {
			background-color: $white;
			padding: 18px 24px;
			width: 100%;
			bottom: -200px;
			h6 {
				font-size: 16px;
				line-height: 22px;
				margin-bottom: 2px;
			}
			.title {
				font-size: 19px;
				line-height: 28px;
			}
		}
		&:hover {
			.content {
				bottom: 12px;
			}
		}
	}
}

//creative-design-section
.creative-design-section {
	padding-bottom: 220px;
	.title {
		margin-bottom: 65px;
		font-size: 18px;
		color: $black;
		text-align: center;
	}
	.creative-item {
		.thumb {
			width: 100%;
			overflow: hidden;
			border-radius: 6px;
			display: block;
			img {
				transition: all 0.4s;
				width: 100%;
				overflow: hidden;
				border-radius: 6px;
			}
			margin-bottom: 27px;
		}
		.cont {
			h5 {
				color: #717171;
				margin-bottom: 10px;
				font-size: 18px;
				font-weight: 500;
			}
			h4 {
				a {
					font-size: 22px;
					color: $black;
					font-weight: 700;
				}
			}
		}
		&:hover {
			.thumb {
				img {
					transform: scale(1.05);
				}
			}
			.cont {
				h5 {
					font-size: 18px;
				}
				h4 {
					a {
						color: $theme-color;
					}
				}
			}
		}
	}
	@include breakpoint(max-xxl) {
		.title {
			margin-bottom: 36px;
		}
		.creative-item {
			.thumb {
				width: 100%;
				overflow: hidden;
				border-radius: 6px;
				display: block;
				img {
					transition: all 0.4s;
					width: 100%;
					overflow: hidden;
					border-radius: 6px;
				}
				margin-bottom: 20px;
			}
			.cont {
				h5 {
					margin-bottom: 8px;
					font-size: 18px;
					font-weight: 500;
				}
				h4 {
					a {
						font-size: 20px;
						color: $black;
						font-weight: 700;
					}
				}
			}
		}
	}
	@include breakpoint(max-xl) {
		.title {
			margin-bottom: 30px;
		}
	}
}
//creative-design-section

//gallery__items
.gallery-section-masonary {
	.title {
		margin-bottom: 45px;
	}
	@include breakpoint(max-xl) {
		.title {
			margin-bottom: 30px;
		}
	}
	@include breakpoint(max-lg) {
		.title {
			margin-bottom: 24px;
		}
	}
}
.gallery__items {
	display: flex;
	align-items: center;
	justify-content: center;
	.thumb {
		width: 100%;
		height: 100%;
		margin: 0 !important;
	}
	.this-arrow {
		background-color: rgba(34, 32, 32, 0.36);
		position: absolute;
		top: 0;
		left: -100%;
		width: 0%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		transition: all 0.4s;
	}
	&:hover {
		.this-arrow {
			width: 100%;
			left: 0;
		}
	}
}
.gallery-masonary {
	display: flex;
	gap: 24px;
	.gallery-masonary-inner {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	@include breakpoint(max-xl) {
		gap: 16px;
		.gallery-masonary-inner {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
	}
	@include breakpoint(max-md) {
		gap: 16px;
		flex-wrap: wrap;
		.gallery-masonary-inner {
			width: 48%;
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
		.last-one {
			width: 100% !important;
			flex-direction: row;
			flex-wrap: wrap;
			.gallery__items {
				width: 48% !important;
			}
		}
	}
	@include breakpoint(max-xs) {
		gap: 16px;
		flex-wrap: wrap;
		.gallery-masonary-inner {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
		.last-one {
			width: 100% !important;
			flex-direction: row;
			flex-wrap: wrap;
			.gallery__items {
				width: 100% !important;
			}
		}
	}
}
//gallery__items
