.project-gallery {
	background: rgba(255, 255, 255, 0.06);
	border-radius: 139px 139px 0px 0px;
}
.project-gallery-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
	margin-bottom: 45px;
	p {
		font-size: 18px;
		color: $white;
		font-weight: 500;
	}
	@include breakpoint(max-md) {
		justify-content: center;
	}
}
.project-card-item {
	.thumb {
		border-radius: 30px;
		margin-bottom: 45px;
		img {
			border-radius: 30px;
			transition: all 0.4s;
		}
	}
	.content {
		h3 {
			a {
				font-size: 36px;
				color: $white;
				line-height: 46px;
			}
		}
		.tag-project {
			margin-bottom: 18px;
			li {
				a {
					display: inline-block;
					color: $white;
					border: 1px solid rgb(255, 255, 255, 0.36);
					border-radius: 100px;
					padding: 10px 22px;
					font-weight: 700;
					line-height: 25px;
					font-size: 15px;
					transition: all 0.4s;
					&:hover {
						background-color: $theme-color;
						color: $white;
					}
				}
			}
		}
	}
	&:hover {
		.thumb {
			img {
				transform: scale(1.05);
			}
		}
	}
	@include breakpoint(max-xxl) {
		.thumb {
			margin-bottom: 30px;
		}
		.content {
			h3 {
				a {
					font-size: 29px;
					line-height: 39px;
				}
			}
			.tag-project {
				margin-bottom: 16px;
				li {
					a {
						display: inline-block;
						color: $white;
						border: 1px solid rgb(255, 255, 255, 0.36);
						border-radius: 100px;
						padding: 8px 22px;
						font-weight: 700;
						line-height: 25px;
						font-size: 15px;
						transition: all 0.4s;
						&:hover {
							background-color: $theme-color;
							color: $white;
						}
					}
				}
			}
		}
	}
	@include breakpoint(max-sm) {
		.thumb {
			margin-bottom: 22px;
		}
		.content {
			h3 {
				a {
					font-size: 24px;
					line-height: 39px;
				}
			}
			.tag-project {
				margin-bottom: 14px;
				li {
					a {
						display: inline-block;
						color: $white;
						border: 1px solid rgb(255, 255, 255, 0.36);
						border-radius: 100px;
						padding: 5px 22px;
						font-weight: 700;
						line-height: 25px;
						font-size: 15px;
						transition: all 0.4s;
						&:hover {
							background-color: $theme-color;
							color: $white;
						}
					}
				}
			}
		}
	}
}

//since-section
.since-section {
	.service-title {
		margin: 0;
		max-width: 1370px;
		margin: 0 auto;
		.sticker-thing {
			position: absolute;
			bottom: 170px;
			right: 20px;
		}
	}
	.circle-image {
		background-color: #2c2c2c;
		width: 203px;
		height: 203px;
		border-radius: 50%;
		margin: -40px auto 0;
		position: relative;
		img {
			animation: spin 15s linear infinite;
		}
		.arrow{
			transform: rotate(-140deg);
			color: $white;
		}
	}
	.since-group1{
		max-width: 1720px;
		margin: -317px auto 0;
		.thumb1{
			max-width: 241px;
		}
		.thumb2{
			max-width: 357px;
			top: 61px;
			position: relative;
		}
	}
	.since-group2{
		max-width: 1127px;
		margin-left: 195px;
		margin-top: -250px;
		z-index: 2;
		.thumb1{
			max-width: 277px;
		}
		.thumb2{
			max-width: 270px;
			margin-top: 161px;
		}
	}
	.since-group3{
		max-width: 1650px;
		margin: -200px auto 0;
		.thumb1{
			max-width: 346px;
			margin-bottom: 44px;
		}
		.thumb2{
			max-width: 417px;
			padding-right: 30px;
		}
		.thumb3{
			max-width: 394px;
			margin-bottom: 74px;
			position: relative;
		}

	}
}
//since-section
