//service one
.service-title {
	font-weight: 500;
	font-size: 96px;
	line-height: 108px;
	text-align: center;
	letter-spacing: -0.02em;
	color: #ffffff;
	position: relative;
	max-width: 855px;
	margin: 0 auto 60px;
	.sticker-done {
		position: absolute;
		right: -70px;
		top: 22%;
	}
}
.service-head {
	max-width: 1030px;
	margin: 0 auto 140px;
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: space-between;
	p {
		max-width: 530px;
		font-size: 18px;
		line-height: 28px;
		color: $white;
		margin-left: auto;
	}
}

.service-quick-wrap{
    display: flex;
    flex-direction: column;
    .service-quick-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 105px 0;
        border-bottom: 1px solid rgb(255, 255, 255, 0.21);
        &.ser-border-top{
            border-top: 1px solid rgb(255, 255, 255, 0.21);
        }
        .hover-thumb{
            max-width: 305px;
            position: absolute;
            top: 50%;
            left: 64%;
            transform: translate(-50%, -50%) rotate(-10deg);
            transition: all 0.4s;
            opacity: 0;
            img{
                width: 100%;
            }
        }
        .serial{
            font-size: 18px;
            color: $white;
            width: 230px;
        }
        h2{
            width: 675px;
            max-width: 675px;
            font-size: 96px;
            line-height: 108px;
            color: rgb(255, 255, 255, 0.13);
            font-weight: 700;
        }
        p{
            max-width: 365px;
            color: $white;
            font-size: 18px;
            line-height: 28px;
            width: 365px;
            margin-left: auto;
        }
        .shape-top{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all 0.4s;
            opacity: 0;
        }
        .shape-bottom{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
            transition: all 0.4s;
            opacity: 0;
        }
        &:hover{
            .hover-thumb,
            .shape-top,
            .shape-bottom{
                opacity: 1;
            }
        }
    }
}
@include breakpoint(max-xl) {
	.service-title {
		font-size: 60px;
		line-height: 70px;
		letter-spacing: -0.02em;
		max-width: 655px;
		margin: 0 auto 24px;
		.sticker-done {
			position: absolute;
			right: -70px;
			top: 22%;
		}
	}
	.service-head {
		max-width: 1030px;
		margin: 0 auto;
		gap: 12px;
		justify-content: center;
        text-align: center;
		p {
			max-width: 530px;
			font-size: 18px;
			line-height: 28px;
			margin: 0 auto;
		}
	}
}
@include breakpoint(max-md) {
	.service-title {
		font-size: 44px;
		line-height: 54px;
		letter-spacing: -0.02em;
		max-width: 655px;
		margin: 0 auto 16px;
		.sticker-done {
			display: none;
		}
	}
	.service-head {
		max-width: 1030px;
		margin: 0 auto;
		gap: 12px;
		justify-content: center;
        text-align: center;
		p {
			max-width: 530px;
			font-size: 17px;
			line-height: 28px;
			margin: 0 auto;
		}
	}
}
@include breakpoint(max-sm) {
	.service-title {
		font-size: 34px;
		line-height: 44px;
		letter-spacing: -0.02em;
		max-width: 655px;
		margin: 0 auto 10px;
		.sticker-done {
			display: none;
		}
	}
	.service-head {
		max-width: 1030px;
		margin: 0 auto;
		gap: 12px;
		justify-content: center;
        text-align: center;
		p {
			max-width: 530px;
			font-size: 15px;
			line-height: 22px;
			margin: 0 auto;
		}
	}
}
//service one
