//service one
.service-title {
	font-weight: 500;
	font-size: 96px;
	line-height: 108px;
	text-align: center;
	letter-spacing: -0.02em;
	color: #ffffff;
	position: relative;
	max-width: 855px;
	margin: 0 auto 60px;
	.sticker-done {
		position: absolute;
		right: -70px;
		top: 22%;
	}
}
.service-head {
	max-width: 1030px;
	margin: 0 auto 140px;
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: space-between;
	p {
		max-width: 530px;
		font-size: 18px;
		line-height: 28px;
		color: $white;
		margin-left: auto;
	}
}

.service-quick-wrap {
	display: flex;
	flex-direction: column;
	.service-quick-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 105px 0;
		border-bottom: 1px solid rgb(255, 255, 255, 0.21);
		&.ser-border-top {
			border-top: 1px solid rgb(255, 255, 255, 0.21);
		}
		.hover-thumb {
			max-width: 305px;
			position: absolute;
			top: 50%;
			left: 64%;
			transform: translate(-50%, -50%) rotate(-10deg);
			transition: all 0.4s;
			opacity: 0;
			img {
				width: 100%;
			}
		}
		.serial {
			font-size: 18px;
			color: $white;
			width: 230px;
		}
		h2 {
			width: 675px;
			max-width: 675px;
			font-size: 96px;
			line-height: 108px;
			color: rgb(255, 255, 255, 0.13);
			font-weight: 700;
		}
		p {
			max-width: 365px;
			color: $white;
			font-size: 18px;
			line-height: 28px;
			width: 365px;
			margin-left: auto;
		}
		.shape-top {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			transition: all 0.4s;
			opacity: 0;
		}
		.shape-bottom {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: -1;
			transition: all 0.4s;
			opacity: 0;
		}
		&:hover {
			.hover-thumb,
			.shape-top,
			.shape-bottom {
				opacity: 1;
			}
			h2 {
				a {
					color: $white;
				}
			}
		}
	}
}
@include breakpoint(max-xxl) {
	.service-quick-wrap {
		.service-quick-item {
			display: flex;
			justify-content: space-between;
			padding: 80px 0;
			.hover-thumb {
				max-width: 305px;
				top: 50%;
				left: 64%;
				transform: translate(-50%, -50%) rotate(-10deg);
			}
			.serial {
				font-size: 18px;
				color: $white;
				width: 230px;
			}
			h2 {
				width: 675px;
				max-width: 675px;
				font-size: 60px;
				line-height: 70px;
			}
			p {
				max-width: 365px;
				font-size: 18px;
				line-height: 28px;
				width: 365px;
				margin-left: auto;
			}
			.shape-top {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				transition: all 0.4s;
				opacity: 0;
			}
			.shape-bottom {
				position: absolute;
				bottom: 0;
				right: 0;
				z-index: -1;
				transition: all 0.4s;
				opacity: 0;
			}
		}
	}
}
@include breakpoint(max-xl) {
	.service-title {
		font-size: 60px;
		line-height: 70px;
		letter-spacing: -0.02em;
		max-width: 655px;
		margin: 0 auto 24px;
		.sticker-done {
			position: absolute;
			right: -70px;
			top: 22%;
		}
	}
	.service-head {
		max-width: 1030px;
		margin: 0 auto 60px;
		gap: 12px;
		justify-content: center;
		text-align: center;
		p {
			max-width: 530px;
			font-size: 18px;
			line-height: 28px;
			margin: 0 auto;
		}
	}
	.service-quick-wrap {
		.service-quick-item {
			display: flex;
			justify-content: space-between;
			padding: 80px 0;
			.hover-thumb {
				max-width: 205px;
				top: 50%;
				left: 64%;
				transform: translate(-50%, -50%) rotate(-10deg);
			}
			.serial {
				font-size: 18px;
				color: $white;
				width: 230px;
			}
			h2 {
				width: 675px;
				max-width: 675px;
				font-size: 40px;
				line-height: 50px;
				a {
					font-size: 40px;
				}
			}
			p {
				max-width: 365px;
				font-size: 18px;
				line-height: 28px;
				width: 365px;
				margin-left: auto;
			}
			.shape-top {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				transition: all 0.4s;
				opacity: 0;
			}
			.shape-bottom {
				position: absolute;
				bottom: 0;
				right: 0;
				z-index: -1;
				transition: all 0.4s;
				opacity: 0;
			}
		}
	}
}
@include breakpoint(max-md) {
	.service-title {
		font-size: 44px;
		line-height: 54px;
		letter-spacing: -0.02em;
		max-width: 655px;
		margin: 0 auto 16px;
		.sticker-done {
			display: none;
		}
	}
	.service-head {
		max-width: 1030px;
		margin: 0 auto 40px;
		gap: 12px;
		justify-content: center;
		text-align: center;
		p {
			max-width: 530px;
			font-size: 17px;
			line-height: 28px;
			margin: 0 auto;
		}
	}
	.service-quick-wrap {
		.service-quick-item {
			display: flex;
			justify-content: space-between;
			padding: 60px 0;
			gap: 20px;
			.hover-thumb {
				max-width: 205px;
				top: 50%;
				left: 64%;
				transform: translate(-50%, -50%) rotate(-10deg);
			}
			.serial {
				font-size: 18px;
				color: $white;
				width: 80px;
			}
			h2 {
				width: 375px;
				max-width: 375px;
				font-size: 30px;
				line-height: 40px;
				a {
					font-size: 30px;
				}
			}
			p {
				max-width: 365px;
				font-size: 18px;
				line-height: 28px;
				width: 365px;
				margin-left: auto;
			}
			.shape-top {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				transition: all 0.4s;
				opacity: 0;
			}
			.shape-bottom {
				position: absolute;
				bottom: 0;
				right: 0;
				z-index: -1;
				transition: all 0.4s;
				opacity: 0;
			}
		}
	}
}
@include breakpoint(max-sm) {
	.service-title {
		font-size: 34px;
		line-height: 44px;
		letter-spacing: -0.02em;
		max-width: 655px;
		margin: 0 auto 10px;
		.sticker-done {
			display: none;
		}
	}
	.service-head {
		max-width: 1030px;
		margin: 0 auto 26px;
		gap: 12px;
		justify-content: center;
		text-align: center;
		p {
			max-width: 530px;
			font-size: 15px;
			line-height: 22px;
			margin: 0 auto;
		}
	}
	.service-quick-wrap {
		.service-quick-item {
			display: flex;
			justify-content: space-between;
			padding: 45px 0;
			gap: 20px;
			flex-wrap: wrap;
			.hover-thumb {
				max-width: 205px;
				top: 50%;
				left: 64%;
				transform: translate(-50%, -50%) rotate(-10deg);
			}
			.serial {
				font-size: 18px;
				color: $white;
				width: 60px;
			}
			h2 {
				width: 375px;
				max-width: 375px;
				font-size: 30px;
				line-height: 40px;
				a {
					font-size: 30px;
				}
			}
			p {
				max-width: 365px;
				font-size: 18px;
				line-height: 28px;
				width: 365px;
				margin-left: auto;
			}
			.shape-top {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				transition: all 0.4s;
				opacity: 0;
			}
			.shape-bottom {
				position: absolute;
				bottom: 0;
				right: 0;
				z-index: -1;
				transition: all 0.4s;
				opacity: 0;
			}
		}
	}
}
//service one

//workview-content
.workview-content {
	.group-thumb {
		max-width: 500px;
		margin-left: auto;
		margin-bottom: 240px;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		.thumb {
			max-width: 325px;
			img {
				width: 100%;
				border-radius: 14px 14px 0 14px;
			}
		}
		.icon {
			width: 132px;
			position: relative;
			top: 145px;
			height: 145px;
			background: rgba(255, 255, 255, 0.08);
			border-radius: 0px 15px 15px 15px;
		}
	}
	p {
		font-size: 22px;
		line-height: 32px;
		color: $white;
		margin-bottom: 50px;
		max-width: 634px;
	}
	@include breakpoint(max-xl) {
		.group-thumb {
			max-width: 500px;
			margin-left: auto;
			margin-bottom: 150px;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			.thumb {
				max-width: 255px;
				img {
					width: 100%;
					border-radius: 14px 14px 0 14px;
				}
			}
			.icon {
				width: 100px;
				position: relative;
				top: 105px;
				height: 105px;
				border-radius: 0px 15px 15px 15px;
			}
		}
		p {
			font-size: 19px;
			line-height: 29px;
			color: $white;
			margin-bottom: 30px;
			max-width: 634px;
		}
	}
	@include breakpoint(max-lg) {
		.group-thumb {
			max-width: 500px;
			margin-left: auto;
			margin-bottom: 100px;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			.thumb {
				max-width: 220px;
				img {
					width: 100%;
					border-radius: 14px 14px 0 14px;
				}
			}
			.icon {
				width: 80px;
				top: 80px;
				height: 85px;
				img {
					width: 40px;
				}
			}
		}
		p {
			font-size: 17px;
			line-height: 26px;
			margin-bottom: 22px;
			max-width: 634px;
		}
	}
	@include breakpoint(max-lg) {
		.group-thumb {
			max-width: 500px;
			margin-left: auto;
			margin-bottom: 100px;
			display: flex;
			justify-content: flex-start;
			.thumb {
				max-width: 220px;
				img {
					width: 100%;
					border-radius: 14px 14px 0 14px;
				}
			}
			.icon {
				width: 80px;
				top: 80px;
				height: 85px;
				img {
					width: 40px;
				}
			}
		}
		p {
			font-size: 17px;
			line-height: 26px;
			margin-bottom: 22px;
			max-width: 634px;
		}
	}
}

//workview-content

//workview-head
.world-globe {
	position: absolute;
	right: 100px;
	top: -100px;
}
.workview-head {
	margin-bottom: 130px;
	.more-then {
		max-width: 250px;
		font-size: 20px;
		line-height: 26px;
		color: $white;
	}
	.l-text {
		max-width: 670px;
		font-size: 26px;
		line-height: 30px;
		color: $white;
	}
	@include breakpoint(max-xxl) {
		margin-bottom: 90px;
	}
	@include breakpoint(max-xl) {
		margin-bottom: 70px;
	}
	@include breakpoint(max-md) {
		margin-bottom: 50px;
	}
}
.counter__item01 {
	.content {
		h2,
		.count {
			font-size: 96px;
			line-height: 110px;
			font-weight: 700;
			color: $white;
			margin-bottom: 20px;
		}
		p {
			font-size: 20px;
			line-height: 22px;
			color: $white;
			font-weight: 500;
		}
	}
	border-bottom: 1px solid rgb(255, 255, 255, 0.55);
	padding-bottom: 33px;
	.bore-dot {
		display: flex;
		align-items: center;
		gap: 1;
		position: relative;
		padding-left: 10px;
		&::before {
			position: absolute;
			left: 0;
			content: "";
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: $white;
		}
	}
	&.counter__items02 {
		max-width: 390px;
		position: relative;
		z-index: 1;
		padding-bottom: 0;
		border: unset;
		h2 {
			line-height: 70px !important;
			border-bottom: 1px solid #747474;
			color: #8c8c8c;
			margin-bottom: 30px !important;
			span {
				line-height: 70px !important;
				color: #8c8c8c !important;
			}
		}
	}
	@include breakpoint(max-xl) {
		.content {
			h2,
			.count {
				font-size: 60px;
				line-height: 70px;
				margin-bottom: 15px;
			}
			p {
				font-size: 18px;
				line-height: 20px;
			}
		}
	}
	@include breakpoint(max-md) {
		.content {
			h2,
			.count {
				font-size: 40px;
				line-height: 50px;
				margin-bottom: 8px;
			}
			p {
				font-size: 18px;
				line-height: 20px;
			}
		}
	}
}
.globe-circle {
	margin: 150px auto 0;
	max-width: 666px;
	text-align: center;
	@include breakpoint(max-md) {
		margin: 70px auto 0;
		img {
			width: 100%;
		}
	}
}
//workview-head

//agency-work-item
.agency-work-item {
	padding: 67px 65px;
	background: rgba(255, 255, 255, 0.06);
	border-radius: 20px;
	transition: all 0.4s;
	&:hover {
		margin-left: 0 !important;
	}
	&.first {
		.box {
			max-width: 496px;
		}
		h4 {
			font-size: 36px;
			line-height: 46px;
			font-weight: 700;
			color: $white;
			margin-bottom: 19px;
			a {
				font-size: 36px;
				color: $white;
				line-height: 46px;
				font-weight: 700;
			}
		}
		p {
			font-size: 18px;
			line-height: 30px;
			color: $white;
		}
	}
	&.secound {
		background: #333333;
		margin-left: -30px;
		.box {
			display: flex;
			gap: 16px;
		}
		.web-img {
			width: 116px;
			height: 70px;
			object-fit: contain;
		}
		h4 {
			font-size: 96px;
			line-height: 96px;
			color: #c2ef17;
			margin-bottom: 16px;
			span {
				font-size: 96px;
				line-height: 96px;
			}
		}
		p {
			max-width: 250px;
			font-size: 18px;
			line-height: 26px;
			color: $white;
			opacity: 63%;
		}
	}
	&.third {
		margin-left: -30px;
		.box {
			max-width: 496px;
		}
		background-color: $white;
		h4 {
			font-size: 36px;
			line-height: 46px;
			font-weight: 700;
			color: $black;
			margin-bottom: 19px;
			a {
				font-size: 36px;
				line-height: 46px;
				font-weight: 700;
			}
		}
		p {
			font-size: 18px;
			line-height: 30px;
			color: $black;
		}
	}
}

//workview-section02
.workview-section02 {
	.container {
		max-width: 1694px;
	}
	.top-account {
		padding-top: 280px;
	}
	.top-space {
		margin-bottom: 80px;
	}
	z-index: -1;
	.world-globe {
		bottom: -160px;
		top: initial;
		width: 804px;
	}
	.workview-head {
		.arrow-theme {
			background-color: #bde917;
			width: 42px;
			height: 42px;
		}
		h2 {
			font-weight: 500;
			font-size: 86px;
			line-height: 108px;
			letter-spacing: -0.02em;
			text-transform: uppercase;
			margin-bottom: 45px;
			color: $white;
		}
		.reviw-with-arrow {
			gap: 20px;
			margin-bottom: 26px;
		}
	}
	@include breakpoint(max-xxl) {
		.workview-head {
			.arrow-theme {
				background-color: #bde917;
				width: 42px;
				height: 42px;
			}
			h2 {
				font-size: 66px;
				line-height: 88px;
				margin-bottom: 45px;
			}
			.reviw-with-arrow {
				gap: 20px;
				margin-bottom: 26px;
			}
		}
		.top-account {
			padding-top: 20px;
		}
		.top-space {
			margin-bottom: 10px;
		}
	}
	@include breakpoint(max-lg) {
		.workview-head {
			margin-bottom: 30px !important;
			.arrow-theme {
				background-color: #bde917;
				width: 42px;
				height: 42px;
			}
			h2 {
				font-size: 38px;
				line-height: 40px;
				margin-bottom: 24px;
			}
			.reviw-with-arrow {
				gap: 10px;
				margin-bottom: 20px;
			}
		}
		.top-account {
			padding-top: 0px;
		}
		.top-space {
			margin-bottom: 0px;
		}
	}
	@include breakpoint(max-md) {
		.workview-head {
			margin-bottom: 10px !important;
			.arrow-theme {
				background-color: #bde917;
				width: 42px;
				height: 42px;
			}
			h2 {
				font-size: 38px;
				line-height: 40px;
				margin-bottom: 24px;
			}
			.reviw-with-arrow {
				gap: 10px;
				margin-bottom: 20px;
			}
		}
		.top-account {
			padding-top: 0px;
		}
		.top-space {
			margin-bottom: 0px;
		}
	}
}
//workview-section02
