//member-team-section
.member-team-section{
	background-color: #FCF7F3;
    .container{
        max-width: 1340px;
        margin: 0 auto;
    }
}
.team-header{
    margin-bottom: 65px;
    .text-head-left{
        h2{
            margin-bottom: 40px;
            font-size: 85px;
            text-transform: uppercase;
            color: $black;
            font-weight: 500;
        }
        p{
            font-size: 18px;
            line-height: 26px;
            color: #919191;
            max-width: 470px;
            margin-left: auto;
        }
    }
}
.member-wrapper{
    max-width: 1720px;
    margin: 0 auto;
}
.team-member-item{
    .thumb{
        margin-bottom: 40px;
        img{
            transition: all 0.4s;
        }
    }
    &:hover{
        .thumb{
            img{
                transform: scale(1.05);
            }
        }
    }
    &.secound{
        margin-top: 94px;
    }
    &.three{
        margin-top: 163px;
    }
    &.four{
        margin-top: 70px;
    }
}
//member-team-section
