//member-team-section
.member-team-section{
	background-color: #FCF7F3;
    .container{
        max-width: 1340px;
        margin: 0 auto;
    }
}
.team-header{
    margin-bottom: 65px;
    .text-head-left{
        h2{
            margin-bottom: 40px;
            font-size: 85px;
            text-transform: uppercase;
            color: $black;
            font-weight: 500;
        }
        p{
            font-size: 18px;
            line-height: 26px;
            color: #919191;
            max-width: 470px;
            margin-left: auto;
        }
    }
    @include breakpoint(max-xxl){
        margin-bottom: 50px;
        .text-head-left{
            h2{
                font-size: 70px;
                margin-bottom: 30px;
            }
        }
    }
    @include breakpoint(max-xl){
        margin-bottom: 50px;
        .text-head-left{
            h2{
                font-size: 60px;
                margin-bottom: 10px;
                span{
                    font-size: 60px;
                }
            }
        }
    }
    @include breakpoint(max-lg){
        margin-bottom: 40px;
        .text-head-left{
            h2{
                font-size: 40px;
                margin-bottom: 10px;
                span{
                    font-size: 40px;
                }
            }
        }
    }
    @include breakpoint(max-lg){
        margin-bottom: 30px;
        .text-head-left{
            h2{
                font-size: 32px;
                margin-bottom: 10px;
                span{
                    font-size: 32px;
                }
            }
            p{
                text-align: start;
                margin-left: 0;
            }
        }
    }
}
.member-wrapper{
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 10px;
}
.team-member-item{
    .thumb{
        margin-bottom: 40px;
        img{
            transition: all 0.4s;
        }
    }
    &:hover{
        .thumb{
            img{
                transform: scale(1.05);
            }
        }
    }
    &.secound{
        margin-top: 94px;
    }
    &.three{
        margin-top: 163px;
    }
    &.four{
        margin-top: 70px;
    }
    @include breakpoint(max-lg){
        .thumb{
            margin-bottom: 18px;
        }
        &.secound,
        &.three,
        &.four{
            margin-top: 0;
        }
        h4{
            a{
                font-size: 22px;
                margin-bottom: 15px !important;
            }
        }
    }
}
//member-team-section
