.testimonial__section {
	background-color: #fcf7f3;
	margin-bottom: -1px;
	.container {
		max-width: 1550px;
		margin: 0 auto;
	}
}
.testimonial-header {
	gap: 70px;
	margin-bottom: 0px;
	.count-title {
		font-weight: 700;
		font-size: 600px;
		line-height: 590px;
		color: $theme-color;
	}
	.t-ttile-left {
		position: relative;
		bottom: 150px;
	}
	@include breakpoint(max-xxl) {
		gap: 50px;
		.count-title {
			font-size: 400px;
			line-height: 400px;
		}
		.t-ttile-left {
			bottom: 120px;
		}
	}
	@include breakpoint(max-xl) {
		gap: 20px;
		.count-title {
			font-size: 290px;
			line-height: 320px;
			span {
				font-size: 290px;
			}
		}
		.t-ttile-left {
			bottom: 120px;
		}
	}
	@include breakpoint(max-md) {
		gap: 20px;
		.count-title {
			font-size: 120px;
			line-height: 150px;
			span {
				font-size: 120px;
			}
		}
		.t-ttile-left {
			bottom: 30px;
		}
	}
	@include breakpoint(max-sm) {
		gap: 14px;
		.count-title {
			font-size: 80px;
			line-height: 90px;
			span {
				font-size: 80px;
			}
		}
		.t-ttile-left {
			bottom: 10px;
			margin-bottom: 20px;
		}
	}
}
.testimonial-image-style-1 {
	max-width: 307px;
	margin-left: auto;
	img {
		width: 100%;
	}
}
.testimonial-content-style-1 {
	padding-bottom: 32px;
	border-bottom: 1px solid #c0c0c0;
	display: flex;
	gap: 58px;
	align-items: flex-start;
	h4 {
		font-size: 36px;
		line-height: 46px;
		color: #83807e;
		margin-bottom: 50px;
	}
	.content {
		h6 {
			font-size: 18px;
			line-height: 26px;
			font-weight: 700;
			margin-bottom: 1px;
		}
		span {
			font-size: 16px;
			line-height: 24px;
			color: #767676;
		}
	}
	@include breakpoint(max-xl) {
		gap: 20px;
		h4 {
			font-size: 28px;
			line-height: 36px;
			margin-bottom: 20px;
			span {
				font-size: 28px;
			}
		}
		.content {
			h6 {
				font-size: 16px;
				line-height: 24px;
			}
			span {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
	@include breakpoint(max-lg) {
		.quote-i {
			width: 40px;
			height: 40px;
		}
		gap: 20px;
		h4 {
			font-size: 22px;
			line-height: 30px;
			margin-bottom: 16px;
			span {
				font-size: 22px;
			}
		}
		.content {
			h6 {
				font-size: 16px;
				line-height: 24px;
			}
			span {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
	@include breakpoint(max-sm) {
		flex-wrap: wrap;
		padding-bottom: 20px;
	}
}
.cuss-swiper-pagination {
	margin-left: 160px;
	margin-top: 30px;
	@include breakpoint(max-sm) {
		margin-left: 0px;
	}
}
.cuss-swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: rgb(23, 23, 23, 0.18);
	opacity: 1;
	margin: 0 6px !important;
	transition: all 0.3s ease;
}
.cuss-swiper-pagination .swiper-pagination-bullet-active {
	background: $black;
	transform: scale(1.3);
}

//Testimonial style new or benax
.testimonial-slider01 {
	margin-right: -180px;
	@include breakpoint(max-md) {
		margin-right: 0;
	}
}
.s-title {
	margin-bottom: 130px;
	@include breakpoint(max-xxl) {
		margin-bottom: 80px;
	}
	@include breakpoint(max-xl) {
		margin-bottom: 60px;
	}
	@include breakpoint(max-lg) {
		margin-bottom: 40px;
	}
}
.testimonial-item-style-1 {
	.time-year {
		color: $theme-color;
		font-size: 28px;
		font-family: $heading-sub;
		width: 100%;
		position: relative;
		border-bottom: 1px solid $white;
		padding-bottom: 20px;
		margin-bottom: 64px;
		z-index: 1;
		&::before {
			position: absolute;
			content: "";
			width: 14px;
			height: 13px;
			background-color: $white;
			clip-path: polygon(48% 100%, 0 0, 100% 0);
			top: 100%;
			inset-inline-start: 0;
		}
	}
	.title {
		font-size: 28px;
		margin-bottom: 24px;
	}
	p {
		color: $text-gray1;
		font-size: 18px;
		font-weight: 500;
	}
	.subs {
		padding-top: 60px;
	}
	@include breakpoint(max-xl) {
		.time-year {
			font-size: 24px;
			padding-bottom: 16px;
			margin-bottom: 40px;
			z-index: 1;
		}
		.title {
			font-size: 24px;
			margin-bottom: 16px;
		}
		p {
			font-size: 15px;
		}
		.subs {
			padding-top: 24px;
		}
	}
}
.cus-swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 88px;
	@include breakpoint(max-xl) {
		margin-top: 70px;
	}
	@include breakpoint(max-lg) {
		margin-top: 40px;
	}
	@include breakpoint(max-md) {
		margin-top: 30px;
	}
	@include breakpoint(max-sm) {
		margin-top: 22px;
	}
}
.cus-swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: rgb(255, 255, 255, 0.18);
	opacity: 1;
	margin: 0 6px !important;
	transition: all 0.3s ease;
}
.cus-swiper-pagination .swiper-pagination-bullet-active {
	background: $white;
	transform: scale(1.3);
}

//trusted-shopper-section
.shop-sponsor-section {
	background-color: #fcf7f3;
	.sponsor-grac-circle {
		max-width: 466px;
		margin: 150px auto 0;
		animation: 20s cir360 linear infinite;
	}
	@include breakpoint(max-xxl) {
		.sponsor-grac-circle {
			max-width: 300px;
			margin: 100px auto 0;
			img {
				width: 100%;
			}
		}
	}
	@include breakpoint(max-xl) {
		.sponsor-grac-circle {
			max-width: 300px;
			margin: 80px auto 0;
			img {
				width: 100%;
			}
		}
	}
	@include breakpoint(max-lg) {
		.sponsor-grac-circle {
			max-width: 220px;
			margin: 60px auto 0;
			img {
				width: 100%;
			}
		}
	}
}
@keyframes cir360 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.trusted-shop {
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	color: $black;
	margin-left: 100px;
	margin-bottom: -120px;
	@include breakpoint(max-lg) {
		margin-left: 0px;
		margin-bottom: -90px;
	}
	@include breakpoint(max-md) {
		margin-left: 0px;
		text-align: center;
		font-size: 14px;
		max-width: 250px;
		margin: 0 auto 25px;
		line-height: 22px;
	}
}
.sponsor-shop-wrap1 {
	.sponsor-shop-item {
		width: calc(100% / 7);
		height: 169px;
		border-right: 1px solid #c0c0c0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
		&:first-child {
			border-left: 1px solid #c0c0c0;
		}
		img {
			max-width: 122px;
			object-fit: contain;
		}
	}
	border-bottom: 1px solid #c0c0c0;
	&.style02 {
		border-bottom: unset;
	}
	@include breakpoint(max-lg) {
		.sponsor-shop-item {
			height: 120px;
			img {
				max-width: 80px;
			}
		}
	}
	@include breakpoint(max-md) {
		flex-wrap: wrap;
		.sponsor-shop-item {
			width: calc(100% / 4);
			height: 100px;
			img {
				max-width: 70px;
			}
		}
	}
	@include breakpoint(max-sm) {
		flex-wrap: wrap;
		.sponsor-shop-item {
			width: calc(100% / 3);
			height: 100px;
			img {
				max-width: 70px;
			}
		}
	}
}
//trusted-shopper-section

//business-card-section03
.business-card-section03 {
	.business-card-top03 {
		display: flex;
		justify-content: space-between;
		.business-title3 {
			font-size: 200px;
			line-height: 200px;
			color: $black;
		}
	}
	.business-slide-wrap03 {
		width: 88%;
		padding: 0 14px;
		.business-item-style1 {
			margin: 120px 15px 20px;
		}
		.business-item-style03 {
			&.style1 {
				transform: rotate(3.5deg) !important;
			}
			&.style2 {
				transform: rotate(-3.5deg) !important;
			}
			padding: 0;
			background-color: transparent;
			.card-profile {
				background-color: $white;
				border-radius: 8px;
				padding: 16px 28px;
				display: flex;
				align-items: center;
				gap: 13px;
				h4 {
					font-size: 18px;
				}
				p {
					color: #717171;
					margin: 0;
					font-size: 16px;
				}
				.text-great {
					font-size: 14px;
					color: #717171;
					text-transform: uppercase;
				}
			}
			.business-card-body {
				background-color: $white;
				border-radius: 8px;
				padding: 32px 30px;
				.ratting {
					display: flex;
					align-items: center;
					gap: 4px;
					margin-bottom: 14px;
					i {
						color: #ff8000;
					}
				}
				p {
					color: #5c5c5c;
					font-size: 16px;
					line-height: 26px;
					padding-bottom: 118px;
				}
			}
		}
	}
	@media screen and (max-width: 1850px) {
		.business-slide-wrap03 {
			width: 100%;
		}
	}
	@media screen and (max-width: 1600px) {
		.business-slide-wrap03 {
			width: 100%;
			.business-item-style1 {
				margin: 80px 15px 20px;
			}
			.business-item-style03 {
				.card-profile {
					padding: 16px 20px;
					display: flex;
					gap: 13px;
				}
				.business-card-body {
					padding: 24px 20px;
					p {
						line-height: 26px;
						padding-bottom: 40px !important;
					}
				}
			}
		}
	}
	@media screen and (max-width: 1400px) {
		.business-slide-wrap03 {
			width: 100%;
			.business-item-style1 {
				margin: 80px 15px 20px;
			}
			.business-item-style03 {
				.card-profile {
					padding: 16px 20px;
					display: flex;
					gap: 13px;
				}
				.business-card-body {
					padding: 24px 20px;
					p {
						line-height: 26px;
						padding-bottom: 10px !important;
						margin-bottom: 0;
					}
				}
			}
		}
		.business-card-top03 {
			.business-title3 {
				font-size: 120px;
				line-height: 120px;
			}
		}
	}
	@include breakpoint(max-xl) {
		.business-slide-wrap03 {
			.business-item-style1 {
				margin: 50px 15px 20px;
			}
		}
		.business-card-top03 {
			.business-title3 {
				font-size: 80px;
				line-height: 80px;
			}
		}
	}
	@include breakpoint(max-lg) {
		.business-slide-wrap03 {
			.business-item-style1 {
				margin: 40px 15px 20px;
			}
		}
		.business-card-top03 {
			flex-wrap: wrap;
			justify-content: center;
			gap: 20px;
			.business-title3 {
				font-size: 70px;
				line-height: 70px;
				width: 100%;
				text-align: center;
			}
		}
	}
	@include breakpoint(max-md) {
		.business-card-top03 {
			flex-wrap: wrap;
			justify-content: center;
			gap: 20px;
			.business-title3 {
				font-size: 40px;
				line-height: 40px;
				width: 100%;
				text-align: center;
			}
		}
	}
	@include breakpoint(max-sm) {
		.business-card-top03 {
			flex-wrap: wrap;
			justify-content: center;
			gap: 14px;
			.business-title3 {
				font-size: 34px;
				line-height: 34px;
				width: 100%;
				text-align: center;
			}
		}
	}
}
//business-card-section03
