.testimonial__section {
	background-color: #fcf7f3;
	.container {
		max-width: 1550px;
		margin: 0 auto;
	}
}
.testimonial-header {
	gap: 70px;
	margin-bottom: 0px;
	.count-title {
		font-weight: 700;
		font-size: 600px;
		line-height: 590px;
		color: $theme-color;
	}
	.t-ttile-left{
		position: relative;
		bottom: 150px;
	}
}
.testimonial-image-style-1{
	max-width: 307px;
	margin-left: auto;
	img{
		width: 100%;
	}
}
.testimonial-content-style-1{
	padding-bottom: 32px;
	border-bottom: 1px solid #C0C0C0;
	display: flex;
	gap: 58px;
	align-items: flex-start;
	h4{
		font-size: 36px;
		line-height: 46px;
		color: #83807E;
		margin-bottom: 50px;
	}
	.content{
		h6{
			font-size: 18px;
			line-height: 26px;
			font-weight: 700;
			margin-bottom: 1px;
		}
		span{
			font-size: 16px;
			line-height: 24px;
			color: #767676;
		}
	}
}
.cuss-swiper-pagination{
	margin-left: 160px;
	margin-top: 30px;
}
.cuss-swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: rgb(23, 23, 23, 0.18);
	opacity: 1;
	margin: 0 6px !important;
	transition: all 0.3s ease;
}
.cuss-swiper-pagination .swiper-pagination-bullet-active {
	background: $black;
	transform: scale(1.3);
}

//Testimonial style new or benax
.testimonial-slider01 {
	margin-right: -180px;
	@include breakpoint(max-md) {
		margin-right: 0;
	}
}
.s-title {
	margin-bottom: 130px;
	@include breakpoint(max-xxl) {
		margin-bottom: 80px;
	}
	@include breakpoint(max-xl) {
		margin-bottom: 60px;
	}
	@include breakpoint(max-lg) {
		margin-bottom: 40px;
	}
}
.testimonial-item-style-1 {
	.time-year {
		color: $theme-color;
		font-size: 28px;
		font-family: $heading-sub;
		width: 100%;
		position: relative;
		border-bottom: 1px solid $white;
		padding-bottom: 20px;
		margin-bottom: 64px;
		z-index: 1;
		&::before {
			position: absolute;
			content: "";
			width: 14px;
			height: 13px;
			background-color: $white;
			clip-path: polygon(48% 100%, 0 0, 100% 0);
			top: 100%;
			inset-inline-start: 0;
		}
	}
	.title {
		font-size: 28px;
		margin-bottom: 24px;
	}
	p {
		color: $text-gray1;
		font-size: 18px;
		font-weight: 500;
	}
	.subs {
		padding-top: 60px;
	}
	@include breakpoint(max-xl) {
		.time-year {
			font-size: 24px;
			padding-bottom: 16px;
			margin-bottom: 40px;
			z-index: 1;
		}
		.title {
			font-size: 24px;
			margin-bottom: 16px;
		}
		p {
			font-size: 15px;
		}
		.subs {
			padding-top: 24px;
		}
	}
}
.cus-swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 88px;
	@include breakpoint(max-xl) {
		margin-top: 70px;
	}
	@include breakpoint(max-lg) {
		margin-top: 40px;
	}
	@include breakpoint(max-md) {
		margin-top: 30px;
	}
	@include breakpoint(max-sm) {
		margin-top: 22px;
	}
}
.cus-swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: rgb(255, 255, 255, 0.18);
	opacity: 1;
	margin: 0 6px !important;
	transition: all 0.3s ease;
}
.cus-swiper-pagination .swiper-pagination-bullet-active {
	background: $white;
	transform: scale(1.3);
}
