.testimonial-image-style-1 {
    img {
        @include imgw;
    }
}

.testimonial-content-style-1 {
    margin-left: 50px;

    @include breakpoint (max-xxl) {
        margin-left: 0;
    }

    p {
        color: $header-color;
        font-size: 26px;
        font-weight: 500;
        margin-top: 10px;
        font-family: $heading-font;
        max-width: 646px;
        line-height: 182%;

        @include breakpoint (max-xxl) {
            font-size: 16px;
        }
    }

    .info-item {
        @include flex;
        gap: 15px;
        margin-top: 40px;

        img {
            border: 1px solid #91969C;
            border-radius: 100px;
        }

        .content {
            span {
                color: #91969C;
                font-weight: 500;
            }
        }
    }
}

.testimonial-section {
    position: relative;

    .left-shape {
        position: absolute;
        left: 120px;
        top: 0;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }
}